extends ../components/base/layout

block variables
  - const title = "День работника рекламы " //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "adv-day.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const aboutArticleInner = {
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: currentUrl,
          text: "Статьи",
        },
      ],
    }

block main
  main
    +button-to-top()

    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-intro(aboutArticleInner).page-intro--no-image
    .page-article
      .container
        .page-article__grid
          a.page-article__button-prev(href="blog.html")
            +icon("icon-arrow-left", 24, 24)
            span Назад
          section.page-article__content.page-content.article
            h1.page-article__title Сегодня отмечается наш профессиональный праздник - День&nbsp;работника рекламы&nbsp;🎯
            time.article__date(datetime="2022-10-22") 23.10.2022
            .page-content__image.page-content__image--main
              +picture("content/articles", "adv-day", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__content-wrapper
              .page-content__text
                p Реклама является одним из самых важных двигателей прогресса, благодаря ей развиваются технологии в массовых коммуникациях и не только, появляются новые медийные проекты захватывающие сердца аудиторий, решается огромное количество социальных проблем за счёт их освещения, а так же дарит людям незабываемые эмоции от покупки любимых или нужных товаров и услуг.
                p Поздравляем всех причастных, желаем правильных целей и задач на нашем нелёгком рекламном пути, бесконечного роста и классных идей! С праздником🔥

                p С уважением, коллектив АМР «Артмедиа»

    +feedback("Оставьте заявку", "Заполните форму и наш менеджер свяжется с вами", "Заполнить форму").feedback--article
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--privacy")(data-modal="privacy")
    +modal-privacy()
