extends ../components/base/layout

block variables
  - const title = "Рекламные возможности"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "advertising.html"
  -
    const aboutAdv = {
      img: {
        path: 'content/advertising',
        image: 'advertising-intro',
        format: 'jpg',
        width: 1920,
        height: 1280,
        altText: 'Идея',
      },
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: "advertising.html",
          text: "Рекламные возможности",
        },
      ],
    }

block main
  main
    h1.visually-hidden Партнеры АМР Артмедиа
    +button-to-top()
    +page-intro(aboutAdv)
    +page-advertising()
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--radio-info")(data-modal="radio-info")
    +modal-radio-info()
  +modal("modal--privacy")(data-modal="privacy")
    +modal-privacy()
