extends ../components/base/layout

block variables
  - const title = "Статьи - полезное о рекламе" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "blog.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const aboutBlog = {
      img: {
        path: 'content/blog',
        image: 'blog-intro',
        format: 'jpg',
        width: 1920,
        height: 1280,
        altText: 'Идея',
      },
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: "blog.html",
          text: "Статьи",
        },
      ],
    }

block main
  main
    h1.visually-hidden Партнеры АМР Артмедиа
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-intro(aboutBlog)
    +page-blog()
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
