extends ../components/base/layout

block variables
  - const title = "Гениальный рекламный ход Кинга Кэмпа Жиллетта " //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "gillete-1900.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const aboutArticleInner = {
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: currentUrl,
          text: "Статьи",
        },
      ],
    }

block main
  main
    +button-to-top()

    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-intro(aboutArticleInner).page-intro--no-image
    .page-article
      .container
        .page-article__grid
          a.page-article__button-prev(href="blog.html")
            +icon("icon-arrow-left", 24, 24)
            span Назад
          section.page-article__content.page-content.article
            h1.page-article__title История рекламы: Гениальный рекламный ход Gillette
            time.article__date(datetime="2022-11-23") 23.11.2022
            .page-content__image.page-content__image--main
              +picture("content/articles", "gillete", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__content-wrapper
              .page-content__text
                p Поговорим об уже привычных вещах для всех нас, которые породили рекламные кампании корпораций 🎯

                p Сегодня пойдёт речь про гениальный рекламный ход Кинга Кэмпа Жиллетта (основатель корпорации The Gillette)
                p В далёких 1900-х годах, когда Кинг уже захватил мужскую аудиторию своими безопасными бритвенными станками, он задумался о привлечении женщин в ряды своих покупателей 👩‍🦰
                p Тогда, в 1915 году, умами его корпорации был придуман рекламный ход, заставивший женщин по всему миру брить подмышки! С помощью масштабной, детально продуманной рекламной кампании, они смогли убедить аудиторию — небритые подмышки это не гигиенично и отталкивают внимание мужчин (в то время стало модно носить платья без рукавов, чем и воспользовался Кинг).
                p Тогда, в 1915 году, умами его корпорации был придуман рекламный ход, зnpm аставивший женщин по всему миру брить подмышки! С помощью масштабной, детально продуманной рекламной кампании, они смогли убедить аудиторию — небритые подмышки это не гигиенично и отталкивают внимание мужчин (в то время стало модно носить платья без рукавов, чем и воспользовался Кинг).

    +feedback("Оставьте заявку", "Заполните форму и наш менеджер свяжется с вами", "Заполнить форму").feedback--article
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--privacy")(data-modal="privacy")
    +modal-privacy()
