extends ../components/base/layout

block variables
  - const title = "Российская художница Ксения Ерощенко из Омска, показала иллюстрациями своё видение популярных и всем известных продуктов в России в образе девушек 👍 " //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "ksenia-omsk" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const aboutArticleInner = {
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: currentUrl,
          text: "Статьи",
        },
      ],
    }

block main
  main
    +button-to-top()

    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-intro(aboutArticleInner).page-intro--no-image
    .page-article
      .container
        .page-article__grid
          a.page-article__button-prev(href="blog.html")
            +icon("icon-arrow-left", 24, 24)
            span Назад
          section.page-article__content.page-content.article
            h1.page-article__title Российская художница Ксения Ерощенко из Омска, показала иллюстрациями своё видение популярных и всем известных продуктов в России в образе девушек 👍
            time.article__date(datetime="2023-01-20") 20.01.2023
            .page-content__image
              +picture("content/articles", "ksenia-omsk-1", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__content-wrapper
              .page-content__text
                p Мнение интернет-аудитории разделилось, кому-то это показалось очень свежим и крутым, а кто-то увидел в иллюстрациях некое оскорбление «святых советских продуктов» 😕

                p По-нашему мнению — это отличная возможность для коллабораций с художницей. В каждой картинке присутствует определённая «душа» продукта, которую можно вывести в инфо поле и завирусить ☝
                p А вы как считаете? 🙄
            .page-content__image
              +picture("content/articles", "ksenia-omsk-2", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__image
              +picture("content/articles", "ksenia-omsk-3", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__image
              +picture("content/articles", "ksenia-omsk-4", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__image
              +picture("content/articles", "ksenia-omsk-5", "jpg", 760, 420, "Иллюстрация статьи")
    +feedback("Оставьте заявку", "Заполните форму и наш менеджер свяжется с вами", "Заполнить форму").feedback--article
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--privacy")(data-modal="privacy")
    +modal-privacy()
