extends ../components/base/layout

block variables
  - const title = "Теперь мы маркируем интернет-рекламу" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "mark-internet-artmedia.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const aboutArticleInner = {
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: currentUrl,
          text: "Статьи",
        },
      ],
    }

block main
  main
    +button-to-top()

    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-intro(aboutArticleInner).page-intro--no-image
    .page-article
      .container
        .page-article__grid
          a.page-article__button-prev(href="blog.html")
            +icon("icon-arrow-left", 24, 24)
            span Назад
          section.page-article__content.page-content.article
            h1.page-article__title Теперь мы маркируем интернет-рекламу
            time.article__date(datetime="2023-09-01") 01.09.2023
            //- time.article__date(datetime=2022-08-17) 17.08.2022
            .page-content__image
              +picture("content/articles", "mark-internet-artmedia", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__content-wrapper
              .page-content__text
                p Нам поступает очень много вопросов про маркировку рекламы в интернете, поэтому решили написать этот пост с разъяснениями❗
                p 🛑 С сегодняшнего дня наше агентство маркирует всю рекламу в интернете
                p ⚡ Информация для наших партнёров: Мы полностью берём на себя все процессы маркировки, документации и отчётности по рекламе. Работая с нами, вам не нужно забивать голову этим и бояться штрафов за отсутствие маркировки или несданной отчётности.
                p ⚡Информация для всех: Очень не советуем размещать свою рекламу без маркировки, потому что:
                ul
                  li
                    +icon("icon-arrow-right", 16, 16)
                    p Штрафы огромные, до 500 000 рублей;
                  li
                    +icon("icon-arrow-right", 16, 16)
                    p Недоброжелатели/конкуренты/любители подзаработать тёмными методами и просто дотошные люди, при обнаружении нарушения с вашей стороны, могут практически в одно действие написать на вас жалобу и вы получите штраф (уже имеются первые прецеденты);
                  li
                    +icon("icon-arrow-right", 16, 16)
                    p У Роскомнадзора есть система «Окулус», которая была протестирована ещё в декабре 2022 года и уже работает. Её задача — искать в сети интернет нарушения законодательства РФ и когда туда добавят выявление отсутствия маркировки на записях — вопрос очень короткого времени (если уже не добавили).
              .page-content__text
                p 🛑 Вы всегда можете обратиться к нам за консультацией по данному и иным вопросам связанным с рекламной сферой
                p С уважением, коллектив АМР «Артмедиа» 🖐

    +feedback("Оставьте заявку", "Заполните форму и наш менеджер свяжется с вами", "Заполнить форму").feedback--article
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--privacy")(data-modal="privacy")
    +modal-privacy()
