extends ../components/base/layout

block variables
  - const title = "Изготовление рекламы"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "production.html"

  -
    const aboutBlog = {
      img: {
        path: 'content/production',
        image: 'production-intro',
        format: 'jpg',
        width: 1920,
        height: 1280,
        altText: 'Виды рекламы',
      },
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: "production.html",
          text: "Изготовление рекламы",
        },
      ],
    }

block main
  main
    h1.visually-hidden Партнеры АМР Артмедиа
    +button-to-top()
    +page-intro(aboutBlog)
    +page-production()
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--privacy")(data-modal="privacy")
    +modal-privacy()
