extends ../components/base/layout

block variables
  - const title = "С Днём Радио!" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "radio-day.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const aboutArticleInner = {
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: currentUrl,
          text: "Статьи",
        },
      ],
    }

block main
  main
    +button-to-top()

    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-intro(aboutArticleInner).page-intro--no-image
    .page-article
      .container
        .page-article__grid
          a.page-article__button-prev(href="blog.html")
            +icon("icon-arrow-left", 24, 24)
            span Назад
          section.page-article__content.page-content.article
            h1.page-article__title С Днём Радио!
            time.article__date(datetime="2023-05-07") 07.05.2023
            //- time.article__date(datetime=2022-08-17) 17.08.2022
            .page-content__image
              +picture("content/articles", "radio-day", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__content-wrapper
              .page-content__text
                p Дорогие друзья 🎉
                p Сегодня, 7 мая, отмечается День Радио Сегодня, 7 мая, отмечается День Радио 📻 — один из самых важных праздников в мире техники и науки. Этот день напоминает нам о значимости радиовещания и его влиянии на жизнь каждого из нас. — один из самых важных праздников в мире техники и науки. Этот день напоминает нам о значимости радиовещания и его влиянии на жизнь каждого из нас.

                p Хотим поздравить всех, кто связан с этой удивительной отраслью — радиоинженеров, журналистов, редакторов, ведущих и технических специалистов, а так же слушателей радиоволн. Вы делаете нашу жизнь ярче и насыщеннее, поднимаете настроение и дарите новые эмоции!
                p С Днем Радио! 😎

    +feedback("Оставьте заявку", "Заполните форму и наш менеджер свяжется с вами", "Заполнить форму").feedback--article
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--privacy")(data-modal="privacy")
    +modal-privacy()
