extends ../components/base/layout

block variables
  - const title = "Мы на региональной конференции радиостанции RECORD" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "record-konf" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const aboutArticleInner = {
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: currentUrl,
          text: "Статьи",
        },
      ],
    }

block main
  main
    +button-to-top()

    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-intro(aboutArticleInner).page-intro--no-image
    .page-article
      .container
        .page-article__grid
          a.page-article__button-prev(href="blog.html")
            +icon("icon-arrow-left", 24, 24)
            span Назад
          section.page-article__content.page-content.article
            h1.page-article__title Мы на региональной конференции радиостанции RECORD
            time.article__date(datetime="2023-07-06") 06.07.2023
            .page-content__image
              +picture("content/articles", "record-conf", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__content-wrapper
              .page-content__text
                p Сотрудники агентства медийной рекламы «Артмедиа» посетили региональную конференцию радиостанции #[a(href="https://vk.com/record" _target="blank") RECORD] в городе Санкт-Петербург 💪

                p Море полезной информации, эмоций и встреча с самыми энергичными и активными людьми отрасли 😎
            .page-content__image
              +picture("content/articles", "record-conf-1", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__image
              +picture("content/articles", "record-conf-2", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__image
              +picture("content/articles", "record-conf-3", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__image
              +picture("content/articles", "record-conf-4", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__image
              +picture("content/articles", "record-conf-5", "jpg", 760, 420, "Иллюстрация статьи")
    +feedback("Оставьте заявку", "Заполните форму и наш менеджер свяжется с вами", "Заполнить форму").feedback--article
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--privacy")(data-modal="privacy")
    +modal-privacy()
