extends ../components/base/layout

block variables
  - const title = "Добрая история ответственного отца" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "responsible-father.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const aboutArticleInner = {
      breadcrumbs: [
        {
          href: "index.html",
          text: "Главная",
        },
        {
          href: currentUrl,
          text: "Статьи",
        },
      ],
    }

block main
  main
    +button-to-top()

    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +page-intro(aboutArticleInner).page-intro--no-image
    .page-article
      .container
        .page-article__grid
          a.page-article__button-prev(href="blog.html")
            +icon("icon-arrow-left", 24, 24)
            span Назад
          section.page-article__content.page-content.article
            h1.page-article__title Немного доброты в ленту из жизни нашего агентства 😌
            time.article__date(datetime="2022-11-16") 16.11.2022
            .page-content__image.page-content__image--main
              +picture("content/articles", "responsible-father-1", "jpg", 760, 420, "Иллюстрация статьи")
            .page-content__content-wrapper
              .page-content__text
                p Хотим вам рассказать одну историю очень ответственного отца — Владимира Егорова, который в 2021 году обратился к нам с просьбой ради своего сына и детей Арзамаса.

                p Просьба его заключалась в том, чтобы разместить на мониторах в поликлиниках Арзамаса мультфильмы пропагандирующие здоровый образ жизни, отказ от алкоголя и табакокурения, которые создает коллектив Общее дело — здоровая Россия

                p ✉ Владимир написал письмо со своей историей в редакцию «Общее дело — Здоровая Россия»: «Здравствуйте. Не употребляю алкоголь более полугода и стартом для этого стал ваш мультфильм. Спасибо. Мультфильмы показываю своим детям, пересматривают по много раз, им нравятся. Сидел с сыном в поликлинике и он стал меня просить включить ему эти мультфильмы на телефоне... и через какое-то время мне пришла мысль: телевизоры в поликлинике висят на каждом этаже — почему бы там не транслировать эти мультфильмы? Сколько детей их увидят и родителей. И после этого пускай объясняют детям, почему они курят или алкоголем травятся. Я не смог своему сыну объяснить — пришлось прекратить употребление. Подскажите как лучше это сделать и я схожу в поликлинику и поговорю с руководством.»
                p В администрации ЦГБ г. Арзамаса ему предоставили наши контакты и конечно же мы не могли не пойти навстречу такому отцовскому рвению сделать этот мир чуточку лучше. Спустя некоторое время сын Владимира уже мог радоваться просмотру любимых мультфильмов «Команды Позновалова» на мониторах в детских поликлиниках города ☺
                p Вот такие ответственные люди и по совместительству отцы встречаются в жизни нашего агентства, готовые делать этот мир лучше для окружающих и особенно для наших детей 👍🏻
                p Творите добро и оно к вам обязательно вернётся 😉

    +feedback("Оставьте заявку", "Заполните форму и наш менеджер свяжется с вами", "Заполнить форму").feedback--article
block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--privacy")(data-modal="privacy")
    +modal-privacy()
