extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: rgb(10, 10, 175);
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — index.html",
        src: "index.html"
      },
      {
        name: "О компании — about-company.html",
        src: "about-company.html"
      },
      {
        name: "Нам доверяют — partners.html",
        src: "partners.html"
      },
      {
        name: "Статьи — blog.html",
        src: "blog.html"
      },
      {
        name: "Статья — article.html",
        src: "article.html"
      },
      {
        name: "Контакты — contacts.html",
        src: "contacts.html"
      },
      {
        name: "Услуги — services.html",
        src: "services.html"
      },
      {
        name: "Рекламные возможности — advertising.html",
        src: "advertising.html"
      },
      {
        name: "Изготовление рекламы — production.html",
        src: "production.html"
      },
      {
        name: "Политика — privacy.html",
        src: "privacy.html"
      },
      {
        name: "404 — 404.html",
        src: "404.html"
      },
    ]

  main
    .container
      img(src="https://via.placeholder.com/300x150" width="300" alt="Логотип проекта")
      h1 Список страниц
      ol
        each page in pages
          li
            a(href= page.src)= page.name
