-
  const articleCardsData = [
    {
      href: "article.html",
      title: "SMM или таргетированная реклама?",
      tag: "SMM",
      filter: "smm",
      text: "Клиенты часто не могут определиться, что в их случае будет эффективно работать: SMM или таргетированная реклама в поисковых системах",
      date: "14.09.2021",
      datetime: "2021-09-14",
      img: {
        path: 'content/articles',
        image: 'articles-1',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Реклама в социальной сети',
      },
    },
    {
      href: "article.html",
      title: "Почему реклама на радио по прежнему актуальна?",
      tag: "Маркетинг",
      filter: "marketing",
      text: "В современном мире владельцы бизнеса, равно как и специалисты по продвижению, сосредоточены в основном на онлайн-рекламе. Другие каналы взаимодействия с аудиторией, такие как радио, используются всё реже. Эффективна ли в наш век высоких технологий реклама на радио — вопрос спорный. Чтобы ответить на него, стоит подробнее рассмотреть ее особенности.",
      date: "21.02.2020",
      datetime: "2020-02-21",
      img: {
        path: 'content/articles',
        image: 'articles-2',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "article.html",
      title: "Почему у бизнеса без рекламы нет будущего?",
      tag: "О рекламе",
      filter: "adv",
      text: "Каждый бизнес нуждается в&nbsp;постоянном развитии и&nbsp;расширении рынков сбыта. В&nbsp;ином случае &laquo;место под солнцем&raquo; займут конкуренты, которые оказались более расторопны и&nbsp;предприимчивы. Понятно, что масштабы бизнеса играют далеко не&nbsp;последнюю роль. Однако какой смысл заниматься предпринимательством, если не&nbsp;стремиться достигнуть большего и&nbsp;стать обладателем более значительных прибылей.",
      date: "05.09.2018",
      datetime: "2018-09-05",
      img: {
        path: 'content/articles',
        image: 'articles-3',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
  ]

mixin articles()
  section.page-section.page-section--snow.articles(data-animation-group)
    .container
      .page-section__header.fit.d-200
        h2.page-section__title Полезное о рекламе
        p.page-section__description О&nbsp;продвижении простыми словами. Делимся секретами, лайфхаками и&nbsp;полезной информацией, как стать заметнее для свой аудитории
        a.page-section__link(href="blog.html") Все статьи

      .page-section__grid.page-section__grid--articles.fit.d-200
        each item in articleCardsData
          +article-card(item)
