mixin feedback(title="", description="", button="")
  .feedback&attributes(attributes)
    .feedback__content
      .feedback__header
        h2.feedback__title !{title}
        p.feedback__description !{description}
      button(type="button", data-open-modal="feedback").button.button--reverse.feedback__button !{button}
      .feedback__decor
        +icon("icon-feedback", 203, 203)


