mixin form()
  //- <script>!function (a, m, o, c, r, m) {a[o + c] = a[o + c] || {setMeta: function (p) {this.params = (this.params || []).concat([p])}}, a[o + r] = a[o + r] || function (f) {a[o + r].f = (a[o + r].f || []).concat([f])}, a[o + r]({id: "931066", hash: "fb111d92b5a0fb54d0c611b26c78508e", locale: "ru"}), a[o + m] = a[o + m] || function (f, k) {a[o + m].f = (a[o + m].f || []).concat([[f, k]])}}(window, 0, "amo_forms_", "params", "load", "loaded");
  //- </script>
  //- <script id="amoforms_script_931066" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1652250773"></script>
  <script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"931066",hash:"fb111d92b5a0fb54d0c611b26c78508e",locale:"ru"}),a[o+m]=a[o+m]||function(f,k){a[o+m].f=(a[o+m].f||[]).concat([[f,k]])}}(window,0,"amo_forms_","params","load","loaded");</script><script id="amoforms_script_931066" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1652252213"></script>
