mixin mission()
    .mission(data-animation-group)
      .container.fi.d-200
        p.mission__title Наша миссия - помогать эффективно использовать возможности рекламы для решения задач бизнеса
      +icon("logo", 220, 220).mission__decor
