-
  const articlesData = [
    {
      href: "adv-day.html",
      title: "С днём работника рекламы!",
      tag: "О рекламе",
      filter: "adv",
      text: "Реклама является одним из самых важных двигателей прогресса, благодаря ей развиваются технологии в массовых коммуникациях и не только, появляются новые медийные проекты захватывающие сердца аудиторий, решается огромное количество социальных проблем за счёт их освещения, а так же дарит людям незабываемые эмоции от покупки любимых или нужных товаров и услуг.",
      date: "23.10.2022",
      datetime: "2022-10-23",
      img: {
        path: 'content/articles',
        image: 'adv-day',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "bd-nashe-radio.html",
      title: "Сегодня радиостанции «Наше Радио» исполнилось 24 года 🎉",
      tag: "Радиореклама",
      filter: "radio",
      text: "От всей души поздравляем всех наших с этим замечательным праздником! Желаем процветания, креативных идей, интересных форматов, сигнала без помех и только качественной музыки!",
      date: "14.12.2022",
      datetime: "2022-12-14",
      img: {
        path: 'content/articles',
        image: 'nashe-2',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "adv-s7.html",
      title: "Авиакомпания «S7 Airlines» создала идеальную рекламную кампанию на светодиодных билбордах России ☺",
      tag: "О рекламе",
      filter: "adv",
      text: "Идеальнее интеграции в повседневный взгляд потребителя на окружающий мир — придумать невозможно",
      date: "12.12.2022",
      datetime: "2022-12-12",
      img: {
        path: 'content/articles',
        image: 's7',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "five-rulles.html",
      title: "5 правил создания эффективной рекламы",
      tag: "О рекламе",
      filter: "adv",
      text: "Материал не должен быть перегружен информацией, только конкретика и в понятной форме. Не создавайте дополнительных преград на пути между вами и потребителем",
      date: "15.02.2023",
      datetime: "2023-02-15",
      img: {
        path: 'content/articles',
        image: 'five-rulles',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "gillete-1900.html",
      title: "Гениальный рекламный ход Кинга Кэмпа Жиллетта",
      tag: "История рекламы",
      filter: "history",
      text: "Поговорим об уже привычных вещах для всех нас, которые породили рекламные кампании корпораций🎯",
      date: "23.11.2022",
      datetime: "2022-11-23",
      img: {
        path: 'content/articles',
        image: 'gillete',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "happy-new-year.html",
      title: "С Новый Годом!",
      tag: "Из нашего опыта",
      filter: "experience",
      text: "Хотим поздравить всех с наступающими праздниками и пожелать всего самого светлого, доброго, чтобы цели достигались в посталенный срок, чтобы вас окружали только настоящие и надёжные люди, чтобы 2023 принёс множество положительных моментов и чтобы все желания сбылись! ☺",
      date: "29.12.2022",
      datetime: "2022-12-29",
      img: {
        path: 'content/articles',
        image: 'happy-ny-2023',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "hello.html",
      title: "Давайте познакомимся!",
      tag: "Из нашего опыта",
      filter: "experience",
      text: "Агентство медийной рекламы «Артмедиа» существует с 2015 года, при этом часть наших сотрудников в рекламной сфере — уже более 14 лет! Следим за развитием рынка Арзамаса с 2009 года и точно знаем, как сделать вашу рекламу эффективной. За это время мы смогли отточить навыки работы с аудиторией почти до идеала. Мы хорошо знаем, как ведёт себя потребитель Арзамаса, что для него важно, какую информацию, когда и в какой форме он хорошо воспринимает и усваивает.",
      date: "17.08.2022",
      datetime: "2022-08-17",
      img: {
        path: 'content/articles',
        image: 'hello',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "hh-adv.html",
      title: "Крутая реклама Head Hunter!",
      tag: "О рекламе",
      filter: "adv",
      text: "Это пример отличной рекламной кампании от отечественного бренда, которой затронули важные ценности для каждого предпринимателя из малого бизнеса. У них получилось передать все трудности и атмосферу работы «на себя», когда только начинаешь свой путь как предприниматель, украсив в красивую игровую форму 🤜🤛",
      date: "22.12.2022",
      datetime: "2022-12-22",
      img: {
        path: 'content/articles',
        image: 'hh-adv',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "ksenia-omsk.html",
      title: "Всем известные продукты глазами художницы из Омска",
      tag: "О рекламе",
      filter: "adv",
      text: "Мнение интернет-аудитории разделилось, кому-то это показалось очень свежим и крутым, а кто-то увидел в иллюстрациях некое оскорбление «святых советских продуктов» 😕",
      date: "20.01.2023",
      datetime: "2023-01-20",
      img: {
        path: 'content/articles',
        image: 'ksenia-omsk-0',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "love-arzamas.html",
      title: "С Днём рождения, любимый Арзамас!",
      tag: "Из нашего опыта",
      filter: "experience",
      text: "Совсем скоро ты станешь ещё красивее и комфортнее! Твои жители — это самые добрые, отзывчивые и душевные люди, которые всегда придут на помощь ближнему не взирая ни на что! Мы абсолютно уверены, что ты самый уютный, яркий и фантастический город на земле 😌",
      date: "03.09.2022",
      datetime: "2022-09-03",
      img: {
        path: 'content/articles',
        image: 'hb-arz',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "responsible-father.html",
      title: "Немного доброты в ленту из жизни нашего агентства 😌",
      tag: "Из нашего опыта",
      filter: "experience",
      text: "Хотим вам рассказать одну историю очень ответственного отца — Владимира Егорова, который в 2021 году обратился к нам с просьбой ради своего сына и детей Арзамаса.",
      date: "16.11.2022",
      datetime: "2022-11-16",
      img: {
        path: 'content/articles',
        image: 'responsible-father-1',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "vesa-jussi-rinkinen.html",
      title: "Случай из жизни агентства",
      tag: "Из нашего опыта",
      filter: "experience",
      text: "«Привет от вашего слушателя в Финляндии. Меня зовут Веса. Мое хобби регулярно контролировать сигналы от далеких FМ станций.",
      date: "01.03.2023",
      datetime: "2023-03-01",
      img: {
        path: 'content/articles',
        image: 'vesa-jussi-rinkinen',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "adv-vkontakte-smm.html",
      title: "Почему реклама в сообществах Вконтакте одна из самых эффективных?",
      tag: "SMM",
      filter: "smm",
      text: "Реклама в сообществах Вконтакте — это не просто способ привлечь внимание к своему бренду, это возможность донести до целевой аудитории информацию о своих товарах или услугах!",
      date: "14.04.2023",
      datetime: "2023-04-14",
      img: {
        path: 'content/articles',
        image: 'adv-vkontakte-smm',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "adv-history.html",
      title: "Первая реклама в мире",
      tag: "История рекламы",
      filter: "history",
      text: "Первая реклама в мире была написана на глиняной табличке в Месопотамии более 4000 лет назад.",
      date: "27.04.2023",
      datetime: "2023-04-27",
      img: {
        path: 'content/articles',
        image: 'adv-history',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "glass-ar.html",
      title: "Зеркала дополненной реальности для магазинов одежды, как способ удержания покупателя",
      tag: "О рекламе",
      filter: "adv",
      text: "Отечественная компания ZERO10 разработала зеркала с дополненной реальностью",
      date: "03.05.2023",
      datetime: "2023-05-03",
      img: {
        path: 'content/articles',
        image: 'glass-ar',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "radio-day.html",
      title: "С Днём Радио!",
      tag: "Радиореклама",
      filter: "radio",
      text: "Сегодня, 7 мая, отмечается День Радио 📻 — один из самых важных праздников в мире техники и науки. Этот день напоминает нам о значимости радиовещания и его влиянии на жизнь каждого из нас.",
      date: "07.05.2023",
      datetime: "2023-05-07",
      img: {
        path: 'content/articles',
        image: 'radio-day',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "marketing-why.html",
      title: "Зачем нужен маркетинг?",
      tag: "О рекламе",
      filter: "adv",
      text: "Маркетинг — это не просто реклама и продвижение продукта. Это комплексный подход к управлению бизнесом, который помогает понять потребности и желания клиентов, определить свою нишу на рынке и создать уникальное предложение, которое будет привлекать клиентов.",
      date: "17.05.2023",
      datetime: "2023-05-17",
      img: {
        path: 'content/articles',
        image: 'marketolog-why',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "merch-x5.html",
      title: "Ситуационный и всем знакомый мерч от X5 Retail Group",
      tag: "О рекламе",
      filter: "adv",
      text: "X5 Retail Group решили выпустить коллекционные фигурки по мотивам типичных покупателей и самого знаменитого сотрудника «Пятёрочки» 😄",
      date: "24.05.2023",
      datetime: "2023-05-24",
      img: {
        path: 'content/articles',
        image: 'merch-x5',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "bad-idea.html",
      title: "Как не нужно рекламировать на примере",
      tag: "О рекламе",
      filter: "adv",
      text: "Ни для кого не секрет, что потребитель покупает глазами в первую очередь, и крайне важно сделать его визуально привлекательным, чтобы развить интерес и получить дальнейшую конверсию в диалог",
      date: "07.06.2023",
      datetime: "2023-06-07",
      img: {
        path: 'content/articles',
        image: 'bad-idea',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "marketing-dead.html",
      title: "Почему реклама не работает?",
      tag: "О рекламе",
      filter: "adv",
      text: "Друзья, сегодня хотим поговорить о том, почему некоторые рекламные кампании не достигают своей цели и оставляют нас разочарованными.",
      date: "29.06.2023",
      datetime: "2023-06-29",
      img: {
        path: 'content/articles',
        image: 'marketing-dead',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "record-conf.html",
      title: "Мы на региональной конференции RECORD",
      tag: "Из нашего опыта",
      filter: "experience",
      text: "Сотрудники агентства медийной рекламы «Артмедиа» посетили региональную конференцию радиостанции RECORD в городе Санкт-Петербург 💪",
      date: "06.07.2023",
      datetime: "2023-07-06",
      img: {
        path: 'content/articles',
        image: 'record-conf',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "las-vegas-adv.html",
      title: "Светодиодное здание за 2,3 миллиарда долларов для привлечения внимания",
      tag: "О рекламе",
      filter: "adv",
      text: "В Лас-Вегасе построили огромное сферическое светодиодное здание за 2,3 миллиарда долларов 😳",
      date: "13.07.2023",
      datetime: "2023-07-13",
      img: {
        path: 'content/articles',
        image: 'las-vegas-adv',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "mark-internet-adv.html",
      title: "Маркировка интернет-рекламы",
      tag: "О рекламе",
      filter: "adv",
      text: "Поговорим про нашумевшую маркировку интернет-рекламы, штрафы за которую вступают в силу с 1 сентября",
      date: "28.08.2023",
      datetime: "2023-08-28",
      img: {
        path: 'content/articles',
        image: 'mark-internet-adv',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "mark-internet-artmedia.html",
      title: "Теперь мы маркируем интернет-рекламу",
      tag: "О рекламе",
      filter: "adv",
      text: "Нам поступает очень много вопросов про маркировку рекламы в интернете, поэтому решили написать этот пост с разъяснениями",
      date: "01.09.2023",
      datetime: "2023-09-01",
      img: {
        path: 'content/articles',
        image: 'mark-internet-artmedia',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
  ]

mixin page-blog()
  .page-section.page-section--tabs(data-animation-group, data-image-lazy)
    .container
      .page-section__header.fit.d-300
        h2.page-section__title Полезное о рекламе
        .page-section__description
          p О продвижении простыми словами. Делимся секретами, лайфхаками и полезной информацией, как стать заметнее для своей аудитории
      .page-section__tabs.tabs.tabs--blog(data-filter="parent").fit.d-300
        .tabs__controls(data-filter="controls")
          .tabs__controls-list
            +button({text: "Все"}).button--secondary(data-filter="all").is-active
            //- +button({text: "Маркетинг"}).button--secondary(data-filter="marketing")
            +button({text: "Радиореклама"}).button--secondary(data-filter="radio")
            +button({text: "О рекламе"}).button--secondary(data-filter="adv")
            +button({text: "SMM"}).button--secondary(data-filter="smm")
            +button({text: "История рекламы"}).button--secondary(data-filter="history")
            +button({text: "Из нашего опыта"}).button--secondary(data-filter="experience")
            //- +button({text: "Indoor-реклама"}).button--secondary(data-filter="indoor")
            //- +button({text: "Outdoor-реклама"}).button--secondary(data-filter="outdoor")
          .sorting(data-sort='parent')
            a(href="#", data-sort="button").sorting__button Сортировать&nbsp;по&nbsp;дате
        .tabs__content.tabs__content--blog
          each item in articlesData
            +article-card(item).is-show

