
mixin page-about()
  .page-content.page-content--about
    .page-section(data-animation-group)
      .container
        .page-section__header.page-section__header--accent.page-section__header--no-margin.fit.d-300
          h2.page-section__title Артмедиа
          .page-section__description
            p Агентство &laquo;Артмедиа&raquo; существует с&nbsp;2015 года (7&nbsp;лет на&nbsp;рынке), при этом часть наших сотрудников в&nbsp;рекламной сфере&nbsp;&mdash; уже более 14&nbsp;лет! Мы&nbsp;следим за&nbsp;развитием рынка Арзамаса с&nbsp;2009 года и&nbsp;точно знаем, как сделать вашу рекламу эффективной, потому что за&nbsp;этот долгий период смогли отточить навыки работы с&nbsp;аудиторией почти до&nbsp;идеала
            p Мы&nbsp;хорошо знаем, как ведёт себя потребитель Арзамаса, что для него важно, какую информацию, когда и&nbsp;в&nbsp;какой форме он&nbsp;хорошо воспринимает и&nbsp;усваивает

    +team()
    +value()
    +quote('Наша миссия - помогать эффективно использовать возможности рекламы для решения задач бизнеса')
    +gratitude(gratitudeData)

