-
  const articlesData = [
    {
      href: "article.html",
      title: "SMM или таргетированная реклама?",
      tag: "SMM",
      filter: "smm",
      text: "Клиенты часто не могут определиться, что в их случае будет эффективно работать: SMM или таргетированная реклама в поисковых системах",
      date: "14.09.2021",
      datetime: "2021-09-14",
      img: {
        path: 'content/articles',
        image: 'articles-1',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Реклама в социальной сети',
      },
    },
    {
      href: "article.html",
      title: "Почему реклама на радио по прежнему актуальна?",
      tag: "Радиореклама",
      filter: "radio",
      text: "В современном мире владельцы бизнеса, равно как и специалисты по продвижению, сосредоточены в основном на онлайн-рекламе. Другие каналы взаимодействия с аудиторией, такие как радио, используются всё реже. Эффективна ли в наш век высоких технологий реклама на радио — вопрос спорный. Чтобы ответить на него, стоит подробнее рассмотреть ее особенности.",
      date: "21.02.2020",
      datetime: "2020-02-21",
      img: {
        path: 'content/articles',
        image: 'articles-2',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    {
      href: "article.html",
      title: "Почему у бизнеса без рекламы нет будущего?",
      tag: "О рекламе",
      filter: "adv",
      text: "Каждый бизнес нуждается в&nbsp;постоянном развитии и&nbsp;расширении рынков сбыта. В&nbsp;ином случае &laquo;место под солнцем&raquo; займут конкуренты, которые оказались более расторопны и&nbsp;предприимчивы. Понятно, что масштабы бизнеса играют далеко не&nbsp;последнюю роль. Однако какой смысл заниматься предпринимательством, если не&nbsp;стремиться достигнуть большего и&nbsp;стать обладателем более значительных прибылей.",
      date: "05.09.2018",
      datetime: "2018-09-05",
      img: {
        path: 'content/articles',
        image: 'articles-3',
        format: 'jpg',
        width: 555,
        height: 300,
        altText: 'Иллюстрация статьи',
      },
    },
    //- {
    //-   href: "article.html",
    //-   title: "Почему у бизнеса без рекламы нет будущего?",
    //-   tag: "Indoor-реклама",
    //-   filter: "indoor",
    //-   text: "Каждый бизнес нуждается в&nbsp;постоянном развитии и&nbsp;расширении рынков сбыта. В&nbsp;ином случае &laquo;место под солнцем&raquo; займут конкуренты, которые оказались более расторопны и&nbsp;предприимчивы. Понятно, что масштабы бизнеса играют далеко не&nbsp;последнюю роль. Однако какой смысл заниматься предпринимательством, если не&nbsp;стремиться достигнуть большего и&nbsp;стать обладателем более значительных прибылей.",
    //-   date: "05.09.2018",
    //-   datetime: "2018-09-05",
    //-   img: {
    //-     path: 'content/articles',
    //-     image: 'articles-4',
    //-     format: 'jpg',
    //-     width: 555,
    //-     height: 300,
    //-     altText: 'Иллюстрация статьи',
    //-   },
    //- },
    //- {
    //-   href: "article.html",
    //-   title: "Почему у бизнеса?",
    //-   tag: "Outdoor-реклама",
    //-   filter: "outdoor",
    //-   text: "Каждый бизнес В&nbsp;ином случае &laquo;место под солнцем&raquo; займут конкуренты, которые оказались более расторопны и&nbsp;предприимчивы. Понятно, что масштабы бизнеса играют далеко не&nbsp;последнюю роль. Однако какой смысл заниматься предпринимательством, если не&nbsp;стремиться достигнуть большего и&nbsp;стать обладателем более значительных прибылей.",
    //-   date: "05.09.2018",
    //-   datetime: "2018-09-05",
    //-   img: {
    //-     path: 'content/articles',
    //-     image: 'articles-5',
    //-     format: 'jpg',
    //-     width: 555,
    //-     height: 300,
    //-     altText: 'Иллюстрация статьи',
    //-   },
    //- },
    //- {
    //-   href: "article.html",
    //-   title: "Почему у бизнеса?",
    //-   tag: "Из нашего опыта",
    //-   filter: "experience",
    //-   text: "Каждый бизнес В&nbsp;ином случае &laquo;место под солнцем&raquo; займут конкуренты, которые оказались более расторопны и&nbsp;предприимчивы. Понятно, что масштабы бизнеса играют далеко не&nbsp;последнюю роль. Однако какой смысл заниматься предпринимательством, если не&nbsp;стремиться достигнуть большего и&nbsp;стать обладателем более значительных прибылей.",
    //-   date: "05.09.2018",
    //-   datetime: "2018-09-05",
    //-   img: {
    //-     path: 'content/articles',
    //-     image: 'articles-2',
    //-     format: 'jpg',
    //-     width: 555,
    //-     height: 300,
    //-     altText: 'Иллюстрация статьи',
    //-   },
    //- },
    //- {
    //-   href: "article.html",
    //-   title: "Почему у бизнеса без рекламы нет будущего?",
    //-   tag: "История рекламы",
    //-   filter: "history",
    //-   text: "Каждый бизнес нуждается в&nbsp;постоянном развитии и&nbsp;расширении рынков сбыта. В&nbsp;ином случае &laquo;место под солнцем&raquo; займут конкуренты, которые оказались более расторопны и&nbsp;предприимчивы. Понятно, что масштабы бизнеса играют далеко не&nbsp;последнюю роль. Однако какой смысл заниматься предпринимательством, если не&nbsp;стремиться достигнуть большего и&nbsp;стать обладателем более значительных прибылей.",
    //-   date: "05.09.2018",
    //-   datetime: "2018-09-05",
    //-   img: {
    //-     path: 'content/articles',
    //-     image: 'articles-1',
    //-     format: 'jpg',
    //-     width: 555,
    //-     height: 300,
    //-     altText: 'Иллюстрация статьи',
    //-   },
    //- },
    //- {
    //-   href: "article.html",
    //-   title: "Почему реклама на радио по прежнему актуальна?",
    //-   tag: "Радиореклама",
    //-   filter: "radio",
    //-   text: "В современном мире владельцы бизнеса, равно как и специалисты по продвижению, сосредоточены в основном на онлайн-рекламе. Другие каналы взаимодействия с аудиторией, такие как радио, используются всё реже. Эффективна ли в наш век высоких технологий реклама на радио — вопрос спорный. Чтобы ответить на него, стоит подробнее рассмотреть ее особенности.",
    //-   date: "21.02.2020",
    //-   datetime: "2020-02-21",
    //-   img: {
    //-     path: 'content/articles',
    //-     image: 'articles-2',
    //-     format: 'jpg',
    //-     width: 555,
    //-     height: 300,
    //-     altText: 'Иллюстрация статьи',
    //-   },
    //- },
    //- {
    //-   href: "article.html",
    //-   title: "Почему реклама на радио по прежнему актуальна?",
    //-   tag: "Радиореклама",
    //-   filter: "radio",
    //-   text: "В современном мире владельцы бизнеса, равно как и специалисты по продвижению, сосредоточены в основном на онлайн-рекламе. Другие каналы взаимодействия с аудиторией, такие как радио, используются всё реже. Эффективна ли в наш век высоких технологий реклама на радио — вопрос спорный. Чтобы ответить на него, стоит подробнее рассмотреть ее особенности.",
    //-   date: "21.02.2020",
    //-   datetime: "2020-02-21",
    //-   img: {
    //-     path: 'content/articles',
    //-     image: 'articles-2',
    //-     format: 'jpg',
    //-     width: 555,
    //-     height: 300,
    //-     altText: 'Иллюстрация статьи',
    //-   },
    //- },
    //- {
    //-   href: "article.html",
    //-   title: "Почему реклама на радио по прежнему актуальна?",
    //-   tag: "Радиореклама",
    //-   filter: "radio",
    //-   text: "В современном мире владельцы бизнеса, равно как и специалисты по продвижению, сосредоточены в основном на онлайн-рекламе. Другие каналы взаимодействия с аудиторией, такие как радио, используются всё реже. Эффективна ли в наш век высоких технологий реклама на радио — вопрос спорный. Чтобы ответить на него, стоит подробнее рассмотреть ее особенности.",
    //-   date: "21.02.2020",
    //-   datetime: "2020-02-21",
    //-   img: {
    //-     path: 'content/articles',
    //-     image: 'articles-1',
    //-     format: 'jpg',
    //-     width: 555,
    //-     height: 300,
    //-     altText: 'Иллюстрация статьи',
    //-   },
    //- },
    //- {
    //-   href: "article.html",
    //-   title: "Почему у бизнеса без рекламы нет будущего?",
    //-   tag: "Маркетинг",
    //-   filter: "marketing",
    //-   text: "Каждый бизнес нуждается в&nbsp;постоянном развитии и&nbsp;расширении рынков сбыта. В&nbsp;ином случае &laquo;место под солнцем&raquo; займут конкуренты, которые оказались более расторопны и&nbsp;предприимчивы. Понятно, что масштабы бизнеса играют далеко не&nbsp;последнюю роль. Однако какой смысл заниматься предпринимательством, если не&nbsp;стремиться достигнуть большего и&nbsp;стать обладателем более значительных прибылей.",
    //-   date: "05.09.2018",
    //-   datetime: "2018-09-05",
    //-   img: {
    //-     path: 'content/articles',
    //-     image: 'articles-3',
    //-     format: 'jpg',
    //-     width: 555,
    //-     height: 300,
    //-     altText: 'Иллюстрация статьи',
    //-   },
    //- },
    //- {
    //-   href: "article.html",
    //-   title: "Почему у бизнеса без рекламы нет будущего?",
    //-   tag: "О рекламе",
    //-   filter: "adv",
    //-   text: "Каждый бизнес нуждается в&nbsp;постоянном развитии и&nbsp;расширении рынков сбыта. В&nbsp;ином случае &laquo;место под солнцем&raquo; займут конкуренты, которые оказались более расторопны и&nbsp;предприимчивы. Понятно, что масштабы бизнеса играют далеко не&nbsp;последнюю роль. Однако какой смысл заниматься предпринимательством, если не&nbsp;стремиться достигнуть большего и&nbsp;стать обладателем более значительных прибылей.",
    //-   date: "05.09.2018",
    //-   datetime: "2018-09-05",
    //-   img: {
    //-     path: 'content/articles',
    //-     image: 'articles-1',
    //-     format: 'jpg',
    //-     width: 555,
    //-     height: 300,
    //-     altText: 'Иллюстрация статьи',
    //-   },
    //- },
  ]

mixin page-blog()
  .page-section.page-section--tabs(data-animation-group)
    .container
      .page-section__header.fit.d-300
        h2.page-section__title Полезное о рекламе
        .page-section__description
          p О продвижении простыми словами. Делимся секретами, лайфхаками и полезной информацией, как стать заметнее для свой аудитории
      .page-section__tabs.tabs.tabs--blog(data-filter="parent").fit.d-300
        .tabs__controls(data-filter="controls")
          +button({text: "Все"}).button--secondary(data-filter="all").is-active
          //- +button({text: "Маркетинг"}).button--secondary(data-filter="marketing")
          +button({text: "Радиореклама"}).button--secondary(data-filter="radio")
          +button({text: "О рекламе"}).button--secondary(data-filter="adv")
          +button({text: "SMM"}).button--secondary(data-filter="smm")
          //- +button({text: "Indoor-реклама"}).button--secondary(data-filter="indoor")
          //- +button({text: "Outdoor-реклама"}).button--secondary(data-filter="outdoor")
          //- +button({text: "Из нашего опыта"}).button--secondary(data-filter="experience")
          //- +button({text: "История рекламы"}).button--secondary(data-filter="history")
        .tabs__content.tabs__content--blog
          each item in articlesData
            +article-card(item).is-show

