-
  const advertisingNavigation = [
    {
      title: 'Радиостанции',
      activeItem: 'is-active',
      list: [
        {
          title: 'Наше Радио',
          href: 'radio-nashe'
        },
        {
          title: 'Радио Record',
          href: 'radio-record'
        },
        {
          title: 'Радио Ваня',
          href: 'radio-vanya'
        },
        {
          title: 'Мария ФМ',
          href: 'radio-maria-fm'
        },
        {
          title: 'Rock FM',
          href: 'radio-rock-fm'
        },
      ],
    },
    {
      title: 'Социальные сети',
      list: [
        {
          title: 'Арзамас Live',
          href: 'social-arz-live'
        },
        {
          title: 'Подслушано Арзамас',
          href: 'social-overheard'
        },
        {
          title: 'Авторынок Арзамас',
          href: 'social-autosale'
        },
        {
          title: 'Арз Рейстинг Зон',
          href: 'social-arz-racing'
        },
        {
          title: 'Весь кринж Арзамаса',
          href: 'social-arz-kringe'
        },
        {
          title: 'Арзамас Live Барахолка',
          href: 'social-arz-live-junk'
        },
        {
          title: 'Топ Арзамас',
          href: 'social-arz-top'
        },
        {
          title: 'Арз Втоп',
          href: 'social-arz-vtop'
        },

      ],
    },
    {
      title: 'Мониторы',
      list: [
        {
          title: 'Поликлиники',
          href: 'monitor-health'
        },
        {
          title: 'ТРЦ "Омега"',
          href: 'monitor-omega'
        },
      ],
    },
    {
      title: 'Локальное радио',
      list: [
        {
          title: 'ТРЦ "Омега"',
          href: 'local-radio-omega'
        },
        {
          title: 'ТЦ "Славянский"',
          href: 'local-radio-slavan'
        },
        {
          title: 'ТЦ "Колизей"',
          href: 'local-radio-colosseum'
        },
        {
          title: 'ФОК "Чемпион',
          href: 'local-radio-champion'
        },
        {
          title: 'ФОК "Звездный',
          href: 'local-radio-starry'
        },
      ],
    },
    {
      title: 'LED Экраны',
      list: [
        {
          title: 'ТЦ "Павлин',
          href: 'led-pavlin'
        },
      ],
    },
  ];

-
  const nasheRadioData = {
    id: 'radio-nashe',
    title: 'Радиостанция "Наше&nbsp;Радио"',
    fm: "98.9 fm",
    description: ['Единственная в&nbsp;городе радиостанция формата российской рок музыки (БИ&nbsp;2, Чичерина, Сплин, ДДТ и&nbsp;т.д.). Эфир очень насыщен такими рубриками как: Новости от&nbsp;НСН, Утреннее шоу &laquo;Подъёмники&raquo;, дневное шоу &laquo;Тариф Дневной&raquo;, автомобильная рубрика &laquo;10&nbsp;баллов&raquo;, Хит-парад &laquo;Чартова Дюжина&raquo;, шоу &laquo;За&nbsp;сценой&raquo; и&nbsp;многими другими.'],
    textAccent: 'Занимает одну из лидирующих позиций среди слушателей Арзамаса',
    infoButton: true,
    icon: {
      name: "logo-nashe-radio",
      width: 180,
      height: 258,
    },
    audience: {
      title: "Аудитория:",
      male: "60%",
      female: "40%",
      age: "от 24 до 54 лет",
    },
  };

-
  const recordRadioData = {
    id: 'radio-record',
    title: 'Радиостанция "Radio Record"',
    fm: "91.2 fm",
    description: [
      'Одна из ведущих танцевальных радиостанций России. Является организатором самых крупных танцевальных фестивалей в стране: «Супердискотека 90-х», «Пиратская станция», «Sensation», «Transmission» и многих других.',
      'Помимо популярной танцевальной музыки в эфире, так же имеются рубрики новостей и многочисленные развлекательные программы для слушателя, например такие как: «Шоу Кремова и Хрусталёва», «Record Superchart», «Record Megamix» и другими.',
      'Единственная радиостанция в своём формате, что делает её уникальной.'
      ],
    textAccent: 'Является самой популярной радиостанцией в г. Арзамас',
    infoButton: true,
    icon: {
      name: "logo-record",
      width: 250,
      height: 110,
    },
    audience: {
      title: "Аудитория:",
      male: "50%",
      female: "50%",
      age: "от 18 до 44 лет",
    },
  };


-
  const rockRadioData = {
    id: 'radio-rock-fm',
    title: 'Радиостанция "Rock&nbsp;FM"',
    fm: "90.7 fm",
    description: [
      'Единственная в&nbsp;городе радиостанция формата зарубежного классического рока (The Beatles, Queen, AC/DC, Deep Purple, The Rolling Stones, U2, Coldplay, RHCP и&nbsp;многие другие известные группы).',
      'Радиостанция с очень насыщенным различными программами эфиром (Автомобили, Новости, Календарь событий, Разговор о музыке, Новинки научно-технического прогресса и т.д.)'
      ],
    textAccent: 'Занимает одну из лидирующих позиций среди слушателей Арзамаса',
    infoButton: true,
    icon: {
      name: "logo-rock-fm",
      width: 200,
      height: 40,
    },
    audience: {
      title: "Аудитория:",
      male: "65%",
      female: "35%",
      age: "от 22 до 49 лет",
    },
  };

-
  const vanyaRadioData = {
    id: 'radio-vanya',
    title: 'Радиостанция "Радио&nbsp;ВАНЯ"',
    fm: "92.0 fm",
    description: [
      'Музыкальная радиостанция, которая имеет большую популярность среди автолюбителей города (Особенно среди представителей такси и транспортных услуг). В эфире станции можно услышать музыку, которая близка всем: «Руки Вверх», «Дискотека Авария», «Демо», «Лобода», «Акула», «Boney M», «Ase of base», «Cher», «Shakira» и актуальную популярные песни.',
      'Помимо музыки в эфире есть новости, обзоры на автомобили и новые технологии, новости спорта и многое другое.'
      ],
    icon: {
      name: "logo-vanya",
      width: 200,
      height: 105,
    },
    audience: {
      title: "Аудитория:",
      male: "50%",
      female: "50%",
      age: "от 25 до 45 лет",
    },
  };

-
  const mariaRadioData = {
    id: 'radio-maria-fm',
    title: 'Радиостанция "Мария&nbsp;ФМ"',
    fm: "105.6 fm",
    description: [
      'Единственная областная информационно-развлекательная музыкальная FМ радиостанция. В эфире можно услышать современную популярную музыку как российских, так и зарубежных исполнителей.',
      'Кроме музыки на волнах радиостанции постоянно выходят различные программы, погода и выпуски новостей. Единственная радиостанция в городе, которая проводит различные стимулирующие мероприятия для аудитории (Премия Мэри, Розыгрыши литров бензина для автолюбителей и т.д.) '
      ],
    textAccent: 'Активно раскручивают свой продукт',
    icon: {
      name: "logo-maria-fm",
      width: 200,
      height: 130,
    },
    audience: {
      title: "Аудитория:",
      male: "50%",
      female: "50%",
      age: "от 18 до 45 лет",
    },
  };

-
  const socialArzLiveData = {
    id: 'social-arz-live',
    title: 'Арзамас Live',
    socialsList: [
      {
        href: "https://vk.com/arzamas.live",
        icon: {
          name: "logo-vk-color",
          width: 32,
          height: 32,
        },
      },
      {
        href: "https://www.instagram.com/arzamas_live",
        icon: {
          name: "logo-instagram-color",
          width: 32,
          height: 32,
        },
      },
      {
        href: "https://t.me/arzamas_live",
        icon: {
          name: "icon-telegram-2",
          width: 32,
          height: 32,
        },
      },
    ],
    description: [
      'Информационно-развлекательное сообщество города, в котором поднимаются важные темы для жителей Арзамаса. Публикуются актуальные новости, юмор, события, важные объявления, больные темы граждан. ',
      'На данное сообщество часто ссылаются региональные и федеральные СМИ.'
      ],
    parametersList: {
      title: "Арзамас Live в цифрах:",
      items: [
        {
          text: '42 000 участников',
          note: '28&nbsp;000 Вконтакте, 14&nbsp;000 Инстаграм',
        },
        {
          text: '38 000 охвата пользователей ежедневно',
          note: '28&nbsp;000 Вконтакте, 10&nbsp;000 Инстаграм',
        },
      ],
    },
    textAccent: 'Одно из самых популярных сообществ в Арзамасе (Входит в топ 5 по популярности)',
    img: {
      path: "content/advertising",
      image: "social-arz-live",
      format: "jpg",
      width: 210,
      height: 332,
      altText: "Логотип сообщества",
    },
    audience: {
      title: "Аудитория:",
      city: "84%",
      district: "8%",
      others: "8%",
      male: "50%",
      female: "50%",
      age: "от 18 до 45 лет",
    },
  };

-
  const socialArzOverheardData = {
    id: 'social-overheard',
    title: 'Подслушано Арзамас',
    socialsList: [
      {
        href: "https://vk.com/podsluhayarzamas",
        icon: {
          name: "logo-vk-color",
          width: 32,
          height: 32,
        },
      },
    ],
    description: [
      'Информационно-развлекательное сообщество Арзамаса, в котором люди делятся друг с другом историями из жизни, просят совета или просто хотят выговорится. Контент паблика состоит в основном из историй пользователей, новостей и юмора.',
      'Единственное сообщество подобного формата в Арзамасе.'
      ],
    parametersList: {
      title: "Подслушано Арзамас в цифрах:",
      items: [
        {
          text: '34 000 участников',
        },
        {
          text: '26 000 охвата пользователей ежедневно',
        },
      ],
    },
    textAccent: 'Одно из самых популярных сообществ в Арзамасе (Входит в топ 5 по популярности)',
    img: {
      path: "content/advertising",
      image: "social-arz-overheard",
      format: "jpg",
      width: 210,
      height: 210,
      altText: "Логотип сообщества",
    },
    audience: {
      title: "Аудитория:",
      city: "78%",
      district: "12%",
      others: "10%",
      male: "41%",
      female: "59%",
      age: "от 25 до 47 лет",
    },
  };


-
  const socialAutoSaleData = {
    id: 'social-autosale',
    title: 'Авторынок Арзамас',
    socialsList: [
      {
        href: "https://vk.com/arz52",
        icon: {
          name: "logo-vk-color",
          width: 32,
          height: 32,
        },
      },
    ],
    description: [
      'Контент состоит из автомобильных объявлений пользователей, в основном продают и ищут автомобили, так же задают вопросы автомобильной тематики.',
      ],
    parametersList: {
      title: "Авторынок Арзамас в цифрах:",
      items: [
        {
          text: '29 000 участников',
        },
        {
          text: '9 000 охвата пользователей ежедневно',
        },
      ],
    },
    textAccent: 'Является самым крупным сообществом автомобильной тематики в Арзамасе и входит в топ 5 по области',
    img: {
      path: "content/advertising",
      image: "social-autosale",
      format: "jpg",
      width: 210,
      height: 189,
      altText: "Логотип сообщества",
    },
    audience: {
      title: "Аудитория:",
      city: "72%",
      district: "8%",
      others: "8%",
      male: "86%",
      female: "14%",
      age: "от 18 до 45 лет",
    },
  };

-
  const socialArzRacingData = {
    id: 'social-arz-racing',
    title: 'Арз Рейсинг Зон',
    socialsList: [
      {
        href: "https://vk.com/arzclub52",
        icon: {
          name: "logo-vk-color",
          width: 32,
          height: 32,
        },
      },
      {
        href: "https://www.instagram.com/arzclub52",
        icon: {
          name: "logo-instagram-color",
          width: 32,
          height: 32,
        },
      },
    ],
    description: [
      'Сообщество автолюбителей Арзамаса. Контент состоит из автомобильных объявлений пользователей, в основном продают и ищут запчасти к автомобилям.',
      'В Инстаграм публикуется автомобильный юмор.',
      ],
    parametersList: {
      title: "Арз Рейсинг Зон в цифрах:",
      items: [
        {
          text: '24 000 участников',
          note: '19&nbsp;000 Вконтакте, 5&nbsp;600 Инстаграм',
        },
        {
          text: '12 000 охвата пользователей ежедневно',
          note: '9&nbsp;000 Вконтакте, 3&nbsp;000 Инстаграм',
        },
      ],
    },
    textAccent: 'Является вторым по величине и охвату сообществом города автомобильной тематики, после Авторынок Арзамас.',
    img: {
      path: "content/advertising",
      image: "social-arz-racing-zone",
      format: "jpg",
      width: 210,
      height: 252,
      altText: "Логотип сообщества",
    },
    audience: {
      title: "Аудитория:",
      city: "83%",
      district: "8%",
      others: "9%",
      male: "90%",
      female: "10%",
      age: "от 18 до 45 лет",
    },
  };

-
  const socialArzKringeData = {
    id: 'social-arz-kringe',
    title: 'Весь кринж Арзамаса',
    socialsList: [
      {
        href: "https://vk.com/priznavashkiarzamas",
        icon: {
          name: "logo-vk-color",
          width: 32,
          height: 32,
        },
      },
    ],
    description: [
      'Самое крупное развлекательное сообщество Арзамаса в социальной сети Вконтакте для молодого поколения.',
      'Контент состоит из юмора, историй подписчиков, новостей, мемов и приколами участников друг над другом.',
      ],
    parametersList: {
      title: "Весь кринж Арзамаса в цифрах:",
      items: [
        {
          text: '28 000 участников',
        },
        {
          text: '16 000 охвата пользователей ежедневно',
        },
      ],
    },
    textAccent: 'Является самым крупным сообществом данной тематики в Арзамасе',
    img: {
      path: "content/advertising",
      image: "social-arz-kringe",
      format: "jpg",
      width: 210,
      height: 200,
      altText: "Логотип сообщества",
    },
    audience: {
      title: "Аудитория:",
      city: "82%",
      district: "9%",
      others: "9%",
      male: "51%",
      female: "49%",
      age: "от 16 до 45 лет",
    },
  };

-
  const socialArzJunkData = {
    id: 'social-arz-live-junk',
    title: 'Арзамас Live Барахолка',
    socialsList: [
      {
        href: "https://vk.com/arzamaslive_baraholka",
        icon: {
          name: "logo-vk-color",
          width: 32,
          height: 32,
        },
      },
    ],
    description: [
      'Сообщество для размещения своих объявлений в Вконтакте в городе Арзамас.',
      'Контент состоит из объявлений пользователей абсолютной разных тематик.',
      ],
    parametersList: {
      title: "Арзамас Live Барахолка в цифрах:",
      items: [
        {
          text: '24 000 участников',
        },
        {
          text: '10 000 охвата пользователей ежедневно',
        },
      ],
    },
    textAccent: 'Входит в топ-3 самых крупных сообществ подобного рода в Арзамасе',
    img: {
      path: "content/advertising",
      image: "social-arz-junk",
      format: "jpg",
      width: 210,
      height: 210,
      altText: "Логотип сообщества",
    },
    audience: {
      title: "Аудитория:",
      city: "83%",
      district: "6%",
      others: "11%",
      male: "65%",
      female: "35%",
      age: "от 27 до 45 лет",
    },
  };

-
  const socialArzTopData = {
    id: 'social-arz-top',
    title: 'Топ Арзамас',
    socialsList: [
      {
        href: "https://www.instagram.com/top_arzamas",
        icon: {
          name: "logo-instagram-color",
          width: 32,
          height: 32,
        },
      },
    ],
    description: [
      'Самое крупное сообщество Арзамаса в социальной сети Инстаграм данной тематики.',
      'Контент состоит из фотографий девушек города Арзамаса.',
      ],
    parametersList: {
      title: "Топ Арзамас в цифрах:",
      items: [
        {
          text: '12 000 участников',
        },
        {
          text: '4 000 охвата пользователей ежедневно',
        },
      ],
    },
    textAccent: 'Входит в топ-5 сообществ Арзамаса в Instagram',
    img: {
      path: "content/advertising",
      image: "social-arz-top",
      format: "jpg",
      width: 210,
      height: 210,
      altText: "Логотип сообщества",
    },
    audience: {
      title: "Аудитория:",
      city: "90%",
      district: "7%",
      others: "3%",
      male: "63%",
      female: "37%",
      age: "от 18 до 44 лет",
    },
  };

-
  const socialArzVTopData = {
    id: 'social-arz-vtop',
    title: 'Арз Втоп',
    socialsList: [
      {
        href: "https://www.instagram.com/arz_vtop",
        icon: {
          name: "logo-instagram-color",
          width: 32,
          height: 32,
        },
      },
    ],
    description: [
      'Второе по количеству пользователей сообщество Арзамаса в социальной сети Инстаграм данной тематики. ',
      'Контент состоит из фотографий девушек города Арзамаса.',
      ],
    parametersList: {
      title: "Арз Втоп в цифрах:",
      items: [
        {
          text: '10 000 участников',
        },
        {
          text: '2 000 охвата пользователей ежедневно',
        },
      ],
    },
    textAccent: 'Входит в топ-6 сообществ Арзамаса в Instagram',
    img: {
      path: "content/advertising",
      image: "social-arz-vtop",
      format: "jpg",
      width: 210,
      height: 210,
      altText: "Логотип сообщества",
    },
    audience: {
      title: "Аудитория:",
      city: "90%",
      district: "7%",
      others: "3%",
      male: "73%",
      female: "27%",
      age: "от 18 до 35 лет",
    },
  };

-
  const monitorsHealthData = {
    id: 'monitor-health',
    title: 'Мониторы в поликлиниках',
    description: [
      'Мониторы находятся в терапевтическом отделении и регистратуре - дают гарантию, что человек увидит вашу рекламу несколько раз за время ожидания своей очереди и как правило будет посещать поликлинику в течении одной/двух недель сдавая анализы и посещая различных врачей.',
      ],
    timeWorkTitle: "График работы мониторов",
    timeWork: [
      {
        name: 'Поликлиника №1',
        time: '7:00 - 18:00',
      },
      {
        name: 'Поликлиника №2',
        time: '7:00 - 18:00',
      },
      {
        name: 'Поликлиника №3',
        time: '7:00 - 18:00',
      },
      {
        name: 'Поликлиника №4',
        time: '7:00 - 16:00',
      },
      {
        name: 'Поликлиника "Детская". ул.&nbsp;Кирова',
        time: '7:00 - 18:00',
      },
      {
        name: 'Поликлиника "Детская". 408-ой',
        time: '7:00 - 15:00',
      },
      {
        name: 'Стоматология ул.&nbsp9&nbspМая',
        time: '7:00 - 20:00',
      },
      {
        name: 'Стоматология ул.&nbspВахтерова',
        time: '7:00 - 20:00',
      },
      {
        name: 'Стоматология "Детская" ул.&nbspПарковая',
        time: '7:00 - 18:00',
      },
    ],
    textAccent: '17 мониторов установлены в 9 поликлиниках города (в г. Арзамас их всего 9)',
    img: {
      path: "content/advertising",
      image: "monitor-1",
      format: "jpg",
      width: 700,
      height: 400,
      altText: "Логотип сообщества",
    },
    secondImg: {
      path: "content/advertising",
      image: "monitor-1",
      format: "jpg",
      width: 700,
      height: 400,
      altText: "Логотип сообщества",
    },
  };

-
  const monitorsOmegaData = {
    id: 'monitor-omega',
    title: 'Мониторы в ТРЦ "Омега',
    description: [
      'ТРЦ "ОМЕГА" является самым крупным торговым центром на юге Нижегородской области. Рядом с ТРЦ «Омега» находится одно из самых крупных промышленных предприятий в Арзамасе – завод «АПЗ», на котором трудятся 6000+ человек.',
      ' Проходимость ТРЦ "Омега" составляет 8000-11000 человек в сутки.',
      ],
    timeWorkTitle: "График работы мониторов c 8:00 - 22:00",
    timeWork: true,
    textAccent: '8 мониторов установлены в коридорах и напротив кассовой зоны магазина "АШАН"',
    img: {
      path: "content/advertising",
      image: "monitor-omega",
      format: "jpg",
      width: 700,
      height: 400,
      altText: "Фотография монитора",
    },
    secondImg: {
      path: "content/advertising",
      image: "monitor-omega",
      format: "jpg",
      width: 700,
      height: 400,
      altText: "Фотография монитора",
    },
  };

-
  const localRadioSlavanData = {
    id: 'local-radio-slavan',
    title: 'ТЦ "Славянский"',
    description: [
      'Крупнейший торгово-развлекательный центр на&nbsp;юге Нижегородской области. Данный ТРЦ направлен не&nbsp;только на&nbsp;удовлетворение потребностей жителей&nbsp;г. Арзамаса, но&nbsp;и&nbsp;жителей Арзамасского и&nbsp;близлежащих районов Нижегородской области.',
      'Вещание осуществляется внутри ТРЦ. Адрес ТРЦ – ул. Калинина, 46',
      ],
    parametersList: {
      title: "Ежедневная аудитория:",
      items: [
        {
          text: 'Будние около 8&nbsp;000 человек',
        },
        {
          text: 'Выходные около 11&nbsp;000 человек',
        },
      ],
    },
    timeWork: true,
    timeWorkTitle: "Время работы радиовещания с 9:00&nbsp;-&nbsp;20:00",
    img: {
      path: "content/advertising",
      image: "local-radio-slavan",
      format: "jpg",
      width: 250,
      height: 250,
      altText: "Логотип ТЦ Славянский",
    },
  };

-
  const localRadioColosseumData = {
    id: 'local-radio-colosseum',
    title: 'ТЦ "Колизей',
    description: [
      'Расположен в центре города, на одном из самых оживлённых перекрёстков города (Проспект Ленина, ул. Севастопольская и ул. Парковая).',
      'Вещание осуществляется внутри ТРЦ. Адрес ТЦ – ул. Парковая, 14',
      ],
    parametersList: {
      title: "Ежедневная аудитория:",
      items: [
        {
          text: 'около 4&nbsp;000 человек',
        },
      ],
    },
    timeWork: true,
    timeWorkTitle: "Время работы радиовещания с 9:00&nbsp;-&nbsp;19:00",
    img: {
      path: "content/advertising",
      image: "local-radio-colosseum",
      format: "jpg",
      width: 250,
      height: 250,
      altText: "Логотип ТЦ Колизей",
    },
  };

-
  const localRadioOmegaData = {
    id: 'local-radio-omega',
    title: 'ТРЦ "Омега',
    description: [
      'Крупнейший торгово-развлекательный центр на&nbsp;юге Нижегородской области. Данный ТРЦ направлен не&nbsp;только на&nbsp;удовлетворение потребностей жителей&nbsp;г. Арзамаса, но&nbsp;и&nbsp;жителей Арзамасского и&nbsp;близлежащих районов Нижегородской области.',
      'Вещание осуществляется внутри ТРЦ. Адрес ТРЦ – ул. Калинина, 46',
      ],
    parametersList: {
      title: "Ежедневная аудитория:",
      items: [
        {
          text: 'Будние около 8&nbsp;000 человек',
        },
        {
          text: 'Выходные около 11&nbsp;000 человек',
        },
      ],
    },
    timeWork: true,
    timeWorkTitle: "Время работы радиовещания с 9:00&nbsp;-&nbsp;20:00",
    img: {
      path: "content/advertising",
      image: "local-radio-omega",
      format: "jpg",
      width: 250,
      height: 250,
      altText: "Логотип ТЦ Омега",
    },
  };

-
  const localRadioChampionData = {
    id: 'local-radio-champion',
    title: 'ФОК "Чемпион"',
    description: [
      'Единственный центр физической культуры в Арзамасском районе.',
      'Вещание осуществляется внутри ФОКа. Адрес ФОК "Чемпион" – ул. Пушкина, 108, р.п.&nbsp;Выездное.',
      ],
    parametersList: {
      title: "Ежедневная аудитория:",
      items: [
        {
          text: 'около 3&nbsp;000 человек',
        },
      ],
    },
    timeWork: true,
    timeWorkTitle: "Время работы радиовещания с 9:00&nbsp;-&nbsp;22:00",
    img: {
      path: "content/advertising",
      image: "local-radio-champion",
      format: "jpg",
      width: 250,
      height: 250,
      altText: "Логотип ФОК Чемпион",
    },
  };

-
  const localRadioStarryData = {
    id: 'local-radio-starry',
    title: 'ФОК "Звездный"',
    description: [
      'Единственный центр физической культуры в г. Арзамас.',
      'Вещание осуществляется внутри ФОКа. Адрес ФОК "Звездный" – 3-й Спортивный пер., 1, г.&nbsp;Арзамас',
      ],
    parametersList: {
      title: "Ежедневная аудитория:",
      items: [
        {
          text: 'около 3&nbsp;000 человек',
        },
      ],
    },
    timeWork: true,
    timeWorkTitle: "Время работы радиовещания с 9:00&nbsp;-&nbsp;22:00",
    img: {
      path: "content/advertising",
      image: "local-radio-starry",
      format: "jpg",
      width: 250,
      height: 250,
      altText: "Логотип ФОК Звездный",
    },
  };



mixin page-advertising()
  .page-services(id="service-top")
    .container
      .page-services__grid(data-tabs="parent")
        .page-services__navigation(data-tabs="controls")
          +service-nav(advertisingNavigation)
        .page-services__content
          div(data-tabs="content")
            .service-content.page-content(data-tabs="element")
              h2.service-content__title Радиостанции
              .page-content__text
                p Радио - является одним из титанов всей современной рекламной индустрии. Широкий охват аудитории, гибкость и невысокая стоимость, делают данный инструмент продвижения одним из самых эффективных в принципе.
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-radio", "jpg", 695, 420)
              +service-item(nasheRadioData).service-item--radio
              +service-item(recordRadioData).service-item--radio
              +service-item(vanyaRadioData).service-item--radio
              +service-item(mariaRadioData).service-item--radio
              +service-item(rockRadioData).service-item--radio
            .service-content.page-content(data-tabs="element")
              h2.service-content__title Социальные сети
              .page-content__text
                p Социальные сети очень плотно вошли в нашу жизнь, как наверное главный канал получения информации. В современном мире, жизнь без них - просто невозможна. Именно поэтому данный инструмент продвижения является одним из самых эффективных.
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-social", "jpg", 695, 420)
              +service-item(socialArzLiveData).service-item--socials
              +service-item(socialArzOverheardData).service-item--socials
              +service-item(socialAutoSaleData).service-item--socials
              +service-item(socialArzRacingData).service-item--socials
              +service-item(socialArzKringeData).service-item--socials
              +service-item(socialArzJunkData).service-item--socials
              +service-item(socialArzTopData).service-item--socials
              +service-item(socialArzVTopData).service-item--socials
            .service-content.page-content(data-tabs="element")
              h2.service-content__title Мониторы
              .page-content__text
                p Пишем что-то про мониторы
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-monitor", "jpg", 695, 420)
              +service-item(monitorsHealthData).service-item--monitors
              +service-item(monitorsOmegaData).service-item--monitors
            .service-content.page-content(data-tabs="element")
              h2.service-content__title Локальное радио
              .page-content__text
                p Что-то про локальное радио
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-radio-local-1", "jpg", 695, 420)
              +service-item(localRadioOmegaData).service-item--radio
              +service-item(localRadioSlavanData).service-item--radio
              +service-item(localRadioColosseumData).service-item--radio
              +service-item(localRadioChampionData).service-item--radio
              +service-item(localRadioStarryData).service-item--radio

            .service-content.page-content(data-tabs="element")
              h2.service-content__title LED Экраны
              .page-content__text
                p Запишем для вас видеоролики любого формата и сложности. Мы работаем только с профессионалами своего дела с многолетним опытом
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-led", "jpg", 695, 420)
          +feedback("Хотите узнать подробнее?", "Заполните форму и наш менеджер свяжется с вами", "Заполнить форму").feedback--services
