-
  const serviceNavigation = [
    {
      title: 'Неразрушающий контроль',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
      ],
    },
    {
      title: 'Техническое освидетельствование',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
      ],
    },
    {
      title: 'Разрушающий контроль',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
      ],
    },
    {
      title: 'Техническое диагностирование',
      list: [
        'Описание схем сертификации',
        'Порядок рассмотрения жалоб и апелляций',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Разработка паспортов технических устройств',
      list: [
        'Общая информация',
        'Порядок рассмотрения жалоб и апелляций',
        'Перечень документов',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Инспекционный контроль',
      list: [
        'Общая информация',
        'Порядок рассмотрения жалоб и апелляций',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Аутсорсинг лаборатории неразрушающего контроля',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Предквалификация поставщика',
      list: [
        'Общая информация',
        'Описание схем сертификации',
        'Порядок рассмотрения жалоб и апелляций',
        'Перечень документов',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Контроль качества',
      list: [
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
        'Порядок рассмотрения жалоб и апелляций',
        'Перечень документов',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Экспертиза промышленной безопасности',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
        'Порядок рассмотрения жалоб и апелляций',
        'Перечень документов',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Сертификация соответствия продукции требованиям&nbsp;ТР ТС',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
        'Порядок рассмотрения жалоб и апелляций',
        'Перечень документов',
      ],
    },
    {
      title: 'Сертификация систем менеджмента',
      list: [
        'Общая информация',
        'Перечень документов',
      ],
    },
    {
      title: 'Сертификация продукции в СДС ИНТЕРГАЗСЕРТ',
      list: [
        'Общая информация',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Сертификация продукции в СДС «Полярный стандарт»',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
        'Порядок рассмотрения жалоб и апелляций',
        'Перечень документов',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Идентификация опасных производственных объектов',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Порядок рассмотрения жалоб и апелляций',
        'Перечень документов',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Разработка планов ликвидации и локализации аварий',
      list: [
        'Общая информация',
        'Описание схем сертификации',
        'Порядок рассмотрения жалоб и апелляций',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Получение лицензий РОСТЕХНАДЗОРА',
      list: [
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
        'Перечень документов',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Электротехнический контроль',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
        'Порядок рассмотрения жалоб и апелляций',
        'Перечень документов',
      ],
    },
    {
      title: 'Аттестация персонала',
      list: [
        'Общая информация',
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
        'Порядок рассмотрения жалоб и апелляций',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Строительный контроль',
      list: [
        'Общая информация',
        'Описание схем сертификации',
        'Перечень документов',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'RBI',
      list: [
        'Политика ОССМ АО НДЦ НПФ «Русская лаборатория»',
        'Описание схем сертификации',
        'Примерная стоимость работ, методика расчета',
      ],
    },
    {
      title: 'Технический due diligence',
      list: [
        'Общая информация',
        'Примерная стоимость работ, методика расчета',
      ],
    },
  ];


mixin page-advertising()
  .page-services
    .container
      .page-services__navigation
        +service-nav(serviceNavigation)

      .page-services__content


