-
  const advertisingNavigation = [
    {
      title: 'Радиостанции',
      activeItem: 'is-active',
      list: [
        {
          title: 'Наше Радио',
          href: 'radio-nashe'
        },
        {
          title: 'Радио Record',
          href: 'radio-record'
        },
        {
          title: 'Радио Ваня',
          href: 'radio-vanya'
        },
        {
          title: 'Мария ФМ',
          href: 'radio-maria-fm'
        },
        {
          title: 'Rock FM',
          href: 'radio-rock-fm'
        },
      ],
    },
    {
      title: 'Социальные сети',
      list: [
        {
          title: 'Арзамас Live',
          href: 'social-arz-live'
        },
        {
          title: 'Подслушано Арзамас',
          href: 'social-overheard'
        },
        {
          title: 'Авторынок Арзамас',
          href: 'social-autosale'
        },
        {
          title: 'Арз Рейстинг Зон',
          href: 'social-arz-racing'
        },
        {
          title: 'Весь кринж Арзамаса',
          href: 'social-arz-kringe'
        },
        {
          title: 'Арзамас Live Барахолка',
          href: 'social-arz-live-junk'
        },
        {
          title: 'Топ Арзамас',
          href: 'social-top-arz'
        },
        {
          title: 'Арз Втоп',
          href: 'social-arz-vtop'
        },

      ],
    },
    {
      title: 'Мониторы',
      list: [
        {
          title: 'Поликлиники',
          href: 'monitor-health'
        },
        {
          title: 'ТРЦ "Омега"',
          href: 'monitor-omega'
        },
      ],
    },
    {
      title: 'Локальное радио',
      list: [
        {
          title: 'ТРЦ "Омега',
          href: 'local-radio-omega'
        },
        {
          title: 'ТЦ "Славянский"',
          href: 'local-radio-slavan'
        },
        {
          title: 'ТЦ "Колизей"',
          href: 'local-radio-colosseum'
        },
        {
          title: 'ФОК "Чемпион',
          href: 'local-radio-champion'
        },
        {
          title: 'ФОК "Звездный',
          href: 'local-radio-starry'
        },
      ],
    },
    {
      title: 'LED Экраны',
      list: [
        {
          title: 'ТЦ "Павлин',
          href: 'led-pavlin'
        },
      ],
    },
  ];

-
  const nasheRadioData = {
    id: 'radio-nashe',
    title: 'Радиостанция "Наше&nbsp;Радио"',
    fm: "98.9 fm",
    description: ['Единственная в&nbsp;городе радиостанция формата российской рок музыки (БИ&nbsp;2, Чичерина, Сплин, ДДТ и&nbsp;т.д.). Эфир очень насыщен такими рубриками как: Новости от&nbsp;НСН, Утреннее шоу &laquo;Подъёмники&raquo;, дневное шоу &laquo;Тариф Дневной&raquo;, автомобильная рубрика &laquo;10&nbsp;баллов&raquo;, Хит-парад &laquo;Чартова Дюжина&raquo;, шоу &laquo;За&nbsp;сценой&raquo; и&nbsp;многие другие.'],
    textAccent: 'Занимает одну из лидирующих позиций среди аудитории Арзамаса.',
    infoButton: true,
    icon: {
      name: "logo-nashe-radio",
      width: 180,
      height: 258,
    },
    audience: {
      male: "60%",
      female: "40%",
      age: "от 24 до 54 лет",
    },
  };

-
  const recordRadioData = {
    id: 'radio-record',
    title: 'Радиостанция "Radio Record"',
    fm: "91.2 fm",
    description: [
      'Одна из ведущих танцевальных радиостанций России. Является организатором самых крупных танцевальных фестивалей в стране: «Супердискотека 90-х», «Пиратская станция», «Sensation», «Transmission» и многих других.',
      'Помимо популярной танцевальной музыки в эфире, так же имеются рубрики новостей и многочисленные развлекательные программы для слушателя, например такие как: «Шоу Кремова и Хрусталёва», «Record Superchart», «Record Megamix» и другие.',
      'Единственная радиостанция в своём формате, что делает её уникальной.'
      ],
    textAccent: 'Является самой популярной радиостанцией в г. Арзамас',
    infoButton: true,
    icon: {
      name: "logo-record",
      width: 250,
      height: 110,
    },
    audience: {
      male: "50%",
      female: "50%",
      age: "от 18 до 44 лет",
    },
  };


-
  const rockRadioData = {
    id: 'radio-rock-fm',
    title: 'Радиостанция "Rock&nbsp;FM"',
    fm: "90.7 fm",
    description: [
      'Единственная в&nbsp;городе радиостанция формата зарубежного классического рока (The Beatles, Queen, AC/D, Deep Purple, The Rolling Stones, U2, Coldplay, RHCP и&nbsp;многие другие известные группы).',
      'Радиостанция с очень насыщенным различными программами эфиром (Автомобили, Новости, Календарь событий, Разговор о музыке, Новинки научно-технического прогресса и т.д.)'
      ],
    textAccent: 'Занимает одну из лидирующих позиций среди аудитории Арзамаса.',
    infoButton: true,
    icon: {
      name: "logo-rock-fm",
      width: 200,
      height: 40,
    },
    audience: {
      male: "65%",
      female: "35%",
      age: "от 22 до 49 лет",
    },
  };

-
  const vanyaRadioData = {
    id: 'radio-vanya',
    title: 'Радиостанция "Радио&nbsp;ВАНЯ"',
    fm: "92.0 fm",
    description: [
      'Музыкальная радиостанция, которая имеет большую популярность среди автолюбителей города (Особенно среди представителей такси и транспортных услуг). В эфире станции можно услышать музыку, которая близка всем: «Руки Вверх», «Дискотека Авария», «Демо», «Лобода», «Акула», «Boney M», «Ase of base», «Cher», «Shakira» и актуальную популярные песни.',
      'Помимо музыки в эфире есть новости, обзоры на автомобили и новые технологии, новости спорта и многое другое.'
      ],
    icon: {
      name: "logo-vanya",
      width: 200,
      height: 105,
    },
    audience: {
      male: "50%",
      female: "50%",
      age: "от 25 до 45 лет",
    },
  };

-
  const mariaRadioData = {
    id: 'radio-maria-fm',
    title: 'Радиостанция "Мария&nbsp;ФМ"',
    fm: "105.6 fm",
    description: [
      'Единственная областная информационно-развлекательная музыкальная FМ радиостанция. В эфире можно услышать современную популярную музыку как российских, так и зарубежных исполнителей.',
      'Кроме музыки на волнах радиостанции постоянно выходят различные программы, погода и выпуски новостей. Единственная радиостанция в городе, которая проводит различные стимулирующие мероприятия для аудитории (Премия Мэри, Розыгрыши литров бензина для автолюбителей и т.д.) '
      ],
    textAccent: 'Активно раскручивают свой продукт.',
    icon: {
      name: "logo-maria-fm",
      width: 200,
      height: 130,
    },
    audience: {
      male: "50%",
      female: "50%",
      age: "от 18 до 45 лет",
    },
  };

mixin page-advertising()
  .page-services
    .container
      .page-services__grid(data-tabs="parent")
        .page-services__navigation(data-tabs="controls")
          +service-nav(advertisingNavigation)
        .page-services__content
          div(data-tabs="content")
            .service-content.page-content(data-tabs="element")
              h2.service-content__title Радиостанции
              .page-content__text
                p Запишем для вас видеоролики любого формата и сложности. Мы работаем только с профессионалами своего дела с многолетним опытом
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-radio", "jpg", 695, 420)
              +service-content-radio(nasheRadioData)
              +service-content-radio(recordRadioData)
              +service-content-radio(vanyaRadioData)
              +service-content-radio(mariaRadioData)
              +service-content-radio(rockRadioData)
              //- +service-content-radio(nasheRadioData)
              //- +service-content-radio(nasheRadioData)
              //- +service-content-radio(nasheRadioData)

            .service-content.page-content(data-tabs="element")
              h2.service-content__title Социальные сети
              .page-content__text
                p Запишем для вас видеоролики любого формата и сложности. Мы работаем только с профессионалами своего дела с многолетним опытом
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-social", "jpg", 695, 420)
            .service-content.page-content(data-tabs="element")
              h2.service-content__title Мониторы
              .page-content__text
                p Запишем для вас видеоролики любого формата и сложности. Мы работаем только с профессионалами своего дела с многолетним опытом
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-monitor", "jpg", 695, 420)
            .service-content.page-content(data-tabs="element")
              h2.service-content__title Локальное радио
              .page-content__text
                p Запишем для вас видеоролики любого формата и сложности. Мы работаем только с профессионалами своего дела с многолетним опытом
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-radio-local-1", "jpg", 695, 420)
            .service-content.page-content(data-tabs="element")
              h2.service-content__title LED Экраны
              .page-content__text
                p Запишем для вас видеоролики любого формата и сложности. Мы работаем только с профессионалами своего дела с многолетним опытом
              .page-content__image.page-content__image--main
                +picture("content/advertising", "advertising-led", "jpg", 695, 420)
          +feedback("Хотите узнать подробнее?", "Заполните форму и наш менеджер свяжется с вами", "Заполнить форму").feedback--services
