mixin team()
  section.page-section.page-section--snow.team(data-animation-group)
    .container
      .page-section__header.fit.d-300
        h2.page-section__title Наша команда
        .page-section__description
          p АМР &laquo;Артмедиа&raquo;&nbsp;&mdash; это команда единомышленников, готовая в&nbsp;любой момент прийти к&nbsp;вам на&nbsp;помощь в&nbsp;этом необъятном мире рекламы. Совокупный опыт сотрудников агентства в&nbsp;рекламной сфере, позволяет решать задачи партнёров любой сложности
      .page-section__grid.page-section__grid--team
        .page-section__image-wrapper.fit.d-600
          +picture("content/about", "about-1-1", "jpg", 1132, 660, "Фото команды")
        +facts().facts--transparent.team__facts
        +icon("logo", 383, 383).team__decor.fit.d-800
