.about {
  position: relative;

  @include vp-767 {
    .container {
      padding-right: 0;
      padding-left: 0;
    }

    .page-section__header {
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}

.about__facts {
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-767 {
    align-items: flex-start;
    padding-top: 4px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
    overflow-y: hidden;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.about__features {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  max-width: 90%;

  @include vp-1279 {
    max-width: 100%;
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 32px;
    padding-left: 0;
  }

  @include vp-1023 {
    margin-top: 32px;
    padding: 0;
  }

  @include vp-767 {
    margin-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
