.about {
  position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   z-index: 0;
  //   top: 0;
  //   left: 0;

  //   width: 100%;
  //   height: 100%;
  //   background-image: url("../../img/content/team.jpg");
  //   background-position: center 5%;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-attachment: fixed;

  //   opacity: 0.15;
  // }
}

.about__grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 120px;
}

.about__facts {
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__features {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  max-width: 90%;
}
