.article-card {
  position: relative;
  display: flex;
  flex-direction: column;

  max-height: 100%;
  visibility: visible;
  opacity: 1;

  transition: opacity $trans-600;

  &.is-hidden {
    position: absolute;

    max-height: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.article-card__tag {
  position: absolute;
  margin: 16px;

  padding: 2px 8px;

  background-color: $color-default-white;
  background-color: transparentize($color-default-white, 0.2);
  border-radius: 2px;
}

.article-card__image-wrapper {
  margin-bottom: 24px;

  min-height: 254px;
  border-radius: 4px;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  @include vp-1279 {
    margin-bottom: 20px;
    min-height: 200px;
  }
}

.article-card__content {
  margin-bottom: auto;
}

.article-card__date {
  font-size: 16px;
  color: transparentize($color-nero, 0.6);
}

.article-card__title {
  margin-top: 12px;
  margin-bottom: 24px;

  font-family: $ff-second-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-1279 {
    margin-top: 8px;
  }

  @include vp-1023 {
    margin-bottom: 16px;
  }
}

.article-card__text {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;

  // &::before {
  //   content: "";
  //   position: absolute;

  //   left: 0;
  //   bottom: 0;

  //   width: 100%;
  //   height: 45%;

  //   background-image: linear-gradient(180deg, $color-transparent, $color-default-white);
  // }
}

.article-card__button {
  margin-top: 36px;
  align-self: start;

  @include vp-1023 {
    margin-top: 28px;
  }
}
