.article-card {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    width: 224px;

    &:last-of-type {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: -16px;

        width: 16px;
        height: 16px;
      }
    }
  }
}

.article-card__image-wrapper {
  margin-bottom: 24px;

  min-height: 200px;
  border-radius: 4px;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  @include vp-1279 {
    margin-bottom: 20px;
  }
}

.article-card__content {
  margin-bottom: auto;
}

.article-card__date {
  font-size: 16px;
  color: transparentize($color-nero, 0.6);
}

.article-card__title {
  margin-top: 12px;
  margin-bottom: 24px;

  font-family: $ff-second-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-1279 {
    margin-top: 8px;
  }

  @include vp-1023 {
    margin-bottom: 16px;
  }
}

.article-card__text {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;

  // &::before {
  //   content: "";
  //   position: absolute;

  //   left: 0;
  //   bottom: 0;

  //   width: 100%;
  //   height: 45%;

  //   background-image: linear-gradient(180deg, $color-transparent, $color-default-white);
  // }
}

.article-card__button {
  margin-top: 36px;
  align-self: start;

  @include vp-1023 {
    margin-top: 28px;
  }
}
