.audience__list {
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    flex-wrap: wrap;
  }
}

.audience__item {
  margin-top: 16px;
  margin-right: 16px;
  padding: 4px 8px;

  font-family: $ff-second-font;
  font-weight: 700;
  font-size: 20px;

  border: 1px solid;
  border-radius: 2px;

  color: $color-nero;
  border-color: $color-nero;

  @include vp-1279 {
    margin-right: 12px;
    font-size: 18px;
  }

  @include vp-767 {
    margin-top: 12px;
  }

  @include vp-374 {
    font-size: 16px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.audience__item--male {
  color: $color-endeavour;
  border-color: $color-endeavour;
}

.audience__item--female {
  color: $color-brink-pink;
  border-color: $color-brink-pink;
}

.audience__item--geo {
  color: transparentize($color-nero, 0.2);
  border-color: transparentize($color-nero, 0.2);
}



// .audience__item--age {
//   color: $color-dark-orange;
//   border-color: $color-dark-orange;
// }
