.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 500px;
  padding-top: 0;
  padding-bottom: 24px;

  label {
    display: flex;
    align-items: center;
    width: 100%;

    input,
    textarea {
      flex-grow: 1;
      min-height: 40px;
      padding: 18px;

      font-family: $ff-second-font;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $color-default-white;

      background-color: transparentize($color-default-white, 0.8);
      border: 2px solid rgba($color-default-white, 0.5);
      border-radius: 4px;
      outline: none;

      transition: border $trans-default;

      &:hover {
        border: 2px solid $color-default-white;
      }

      &:focus {
        border: 2px solid rgba($color-default-white, 0.8);
      }

      &::placeholder {
        color: $color-default-white;
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 1px;

    color: $color-nero;

    opacity: 0;

    transition: opacity $trans-default;
  }

  &.is-invalid {
    input {
      border: 2px solid $color-nero;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-nero, 0.5);
      }

      &::placeholder {
        color: $color-nero;
      }
    }

    .custom-input__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/
}
