.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 80px;
  row-gap: 80px;

  margin: 0;
  padding: 0;

  list-style: none;

  @include vp-1439 {
    gap: 60px;
  }

  @include vp-1279 {
    gap: 44px;
  }

  @include vp-1023 {
    gap: 32px;
  }

  @include vp-767 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.features__item {
  position: relative;
  padding-left: 72px;

  svg {
    position: absolute;
    left: 0;
    top: -6px;
  }

  @include vp-767 {
    padding-left: 0;
    width: 288px;
    flex-grow: 1;
  }
}

.features__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 32px;

  font-family: $ff-second-font;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;

  @include vp-1439 {
    font-size: 28px;
    line-height: 32px;
  }

  @include vp-1279 {
    font-size: 24px;
    line-height: 28px;
  }

  @include vp-767 {
    margin-top: 4px;
    margin-bottom: 24px;
    padding-left: 60px;

    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -20px;

    width: 44px;
    height: 4px;

    background-color: $color-dark-orange;
    border-radius: 2px;

  }
}

.features__description {
  font-size: 20px;
  line-height: 24px;

  @include vp-1279 {
    font-size: 18px;
    line-height: 22px;
  }
}
