.feedback {
  position: relative;
  background-image: linear-gradient(90deg, $color-dark-orange, $color-pumpkin 90%);
  overflow: hidden;
}

.feedback--article {
  padding-top: 56px;
  padding-bottom: 56px;

  @include vp-1439 {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  @include vp-1279 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.feedback--services {
  margin-top: 40px;

  padding: 32px 24px;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 transparentize($color-default-black, 0.9), 0 1px 2px 0 transparentize($color-default-black, 0.94);

  @include vp-767 {
    margin-top: 28px;
    padding: 24px 16px;
  }

  .feedback__content {
    max-width: 100%;
  }

  .feedback__header {
    max-width: 60%;

    @include vp-767 {
      max-width: 100%;
    }
  }

  .feedback__decor {
    right: 5%;
  }
}

.feedback__content {
  position: relative;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1023 {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 100%;
  }

  @include vp-767 {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.feedback__header {
  color: $color-default-white;

  @include vp-767 {
    max-width: 60%;
  }

  @include vp-519 {
    max-width: 100%;
  }
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $ff-second-font;
  font-size: 44px;
  line-height: 48px;

  @include vp-1279 {
    font-size: 32px;
    line-height: 36px;
  }

  @include vp-1023 {
    font-size: 36px;
    line-height: 40px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 33px;
  }

  @include vp-374 {
    font-size: 28px;
    line-height: 32px;
  }
}

.feedback__description {
  margin-top: 24px;
  margin-bottom: 0;

  font-size: 24px;
  line-height: 28px;


  @include vp-1439 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}

.feedback__button {
  margin-top: 24px;
}

.feedback__image-wrapper {
  position: absolute;
}

.feedback__decor {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: -5%;
  z-index: 0;

  color: $color-default-white;

  pointer-events: none;

  @include vp-1279 {
    right: 10%;
  }

  @include vp-767 {
    // top: 0;
    right: 5%;

    svg {
      width: 160px;
      height: 160px;
    }
  }

  @include vp-519 {
    display: none;
  }
}

.feedback__phone {
  align-self: flex-start;

  margin-top: 84px;
  font-family: $ff-second-font;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: $color-default-white;

  transition: opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  @include vp-1279 {
    margin-top: 48px;
    font-size: 48px;
    line-height: 56px;
  }
}

.feedback__mail {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;

  margin-top: 36px;

  font-size: 24px;
  color: $color-default-white;

  transition: opacity $trans-default;

  @include vp-1279 {
    margin-top: 24px;
  }

  span {
    margin-left: 8px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.feedback__form {
  margin-top: 24px;
  max-width: 500px;

  button[type=submit] {
    display: flex;
    justify-content: center;

    margin-top: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

    font-family: $ff-second-font;
    font-weight: 700;

    border-radius: 4px;

    @include vp-1279 {
      margin-top: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

.feedback__policy {
  p {
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 20px;
    color: $color-default-white;
    text-align: center;
  }

  a {
    position: relative;
    display: inline-flex;
    color: $color-default-white;

    transition: opacity $trans-default;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;

      width: 100%;
      height: 1px;

      background-color: $color-default-white;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}
