.footer__content {
  padding: 60px 0;

  background-color: $color-nero;
}

.footer__grid {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content;
  justify-content: space-between;
  gap: 100px;

  @include vp-1919 {
    gap: 55px;
  }

  @include vp-1279 {
    gap: 20px;
  }
}

.footer__logo {
  display: flex;
  color: $color-dark-orange;

  @include vp-1439 {
    svg {
      width: 200px;
      height: 37px;
    }
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;

  a {
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .socials {
    margin-top: 16px;
  }
}

.footer__copyright {
  padding: 8px 0;
  background-color: $color-night-rider;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 16px;
    max-width: 60%;

    color: transparentize($color-default-white, 0.5);

    @include vp-1439 {
      max-width: 75%;
    }
  }
}
