.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  padding: 24px 0;

  background-color: $color-dark-orange;

  box-shadow: 0 3px 4px transparentize($color-default-black, 0.85);

  transition: background-color $trans-default;

  @include vp-1439 {
    padding: 20px 0;
  }

  @include vp-1279 {
    &.is-active {
      .main-nav {
        display: flex;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;

    @include vp-1919 {
      padding-right: 40px;
      padding-left: 40px;
    }

    @include vp-1439 {
      padding-right: 32px;
      padding-left: 32px;
    }

    @include vp-1279 {
      padding-right: 28px;
      padding-left: 28px;
    }
  }
}

.header {
  &.is-transparent {
    background-color: $color-transparent;
    background-image: none;
    box-shadow: none;

    .header__logo {
      color: $color-dark-orange;
    }

    .header__button {
      color: $color-default-white;
      background-color: $color-dark-orange;
    }

    .header__toggle {

      &::before,
      &::after {
        background-color: $color-dark-orange;
      }
    }

    .main-nav__link {
      svg {
        color: transparentize($color-default-white, 0.65);
      }
    }
  }
}

.header__logo {
  display: flex;
  align-items: center;
  color: $color-default-white;

  svg {
    &:last-of-type {
      margin-left: 20px;
    }
  }

  @include vp-1919 {
    svg {
      &:last-of-type {
        margin-left: 20px;
        width: 178px;
        height: 20px;
      }
    }
  }

  @include vp-1439 {
    svg {
      &:last-of-type {
        margin-left: 12px;
        width: 158px;
        height: 18px;
      }
    }
  }
}

.header__buttons {
  display: flex;
  justify-content: flex-end;

  @include vp-1279 {
    margin-left: auto;
    align-items: center;
  }
}

.header__phone {
  padding: 10px 24px;

  font-weight: 500;
  font-family: $ff-second-font;
  font-size: 18px;
  color: $color-default-white;

  border: 2px solid $color-default-white;
  border-radius: 2px;

  transition: background-color $trans-default, color $trans-default, opacity $trans-default;

  svg {
    display: none;
  }

  @include vp-1439 {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 16px;

    border: none;
    background-color: $color-transparent;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
        color: $color-default-white;
        background-color: $color-transparent;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  @include vp-1279 {
    font-size: 18px;
  }

  @include vp-767 {
    padding: 10px;
    border: 2px solid $color-default-white;
    border-radius: 2px;

    span {
      display: none;
    }

    svg {
      display: block;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-dark-orange;
      background-color: $color-default-white;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.header__button {
  margin-left: 24px;
  background-color: $color-default-white;
  color: $color-dark-orange;

  @include vp-1439 {
    margin-left: 20px;
  }

  @include vp-1279 {
    margin-left: 40px;
  }

  @include vp-1023 {
    margin-left: 20px;
  }
}

.header__toggle {
  position: relative;
  display: none;

  padding: 0;

  width: 32px;
  height: 16px;

  background-color: $color-transparent;
  border-left: none;
  border-right: none;

  border-top: 8px solid $color-transparent;
  border-bottom: 8px solid $color-transparent;
  cursor: pointer;

  box-sizing: content-box;

  transition: opacity $trans-default;

  &::before,
  &::after {
    content: "";
    position: absolute;

    width: 24px;
    height: 4px;

    border-radius: 2px;

    background-color: $color-default-white;

    transition: all $trans-default;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }


  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      &::before {
        left: 8px;
      }

      &::after {
        right: 8px;
      }

      &.is-active {
        &::before {
          left: 4px;
          top: 6px;
          transform: rotate(45deg);
        }

        &::after {
          right: 4px;
          bottom: 6px;
          transform: rotate(-45deg);
        }
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  &.is-active {
    &::before {
      left: 4px;
      top: 6px;
      transform: rotate(45deg);
    }

    &::after {
      right: 4px;
      bottom: 6px;
      transform: rotate(-45deg);
    }
  }

  @include vp-1279 {
    display: block;
    margin-left: 40px;
  }
}
