.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  padding: 24px 0;

  // background-color: $color-dark-orange;
  // background-image: linear-gradient(90deg, $color-pumpkin, $color-dark-orange 83.33%);
  background-image: linear-gradient(90deg, $color-dark-orange, $color-pumpkin 90%);


  box-shadow: 0 3px 4px transparentize($color-default-black, 0.85);

  .container {
    display: flex;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  color: $color-default-white;
}

.header__phone {
  padding: 10px 24px;

  font-weight: 500;
  font-family: $ff-second-font;
  font-size: 18px;
  color: $color-default-white;

  border: 2px solid $color-default-white;
  border-radius: 2px;
}

.header__button {
  margin-left: 24px;
  background-color: $color-default-white;
  color: $color-dark-orange;
}
