.mission {
  position: relative;
  padding-top: 53px;
  padding-bottom: 53px;

  background-image: linear-gradient(90deg, $color-dark-orange, $color-pumpkin 90%);

  overflow: hidden;

  @include vp-1439 {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  @include vp-1279 {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .container {
    padding-left: 240px;
    padding-right: 240px;

    @include vp-1919 {
      padding-right: 180px;
      padding-left: 180px;
    }

    @include vp-1439 {
      padding-right: 140px;
      padding-left: 140px;
    }

    @include vp-1279 {
      padding-right: 100px;
      padding-left: 100px;
    }

    @include vp-1023 {
      padding-right: 24px;
      padding-left: 24px;
    }
  }

  &::before {
    content: "";
    position: absolute;

    top: 60px;
    right: 240px;

    width: 96px;
    height: 70px;

    background-image: url(".././img/svg/decor-misson.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0.3;

    @include vp-1439 {
      top: 50px;
      right: 110px;
    }

    @include vp-1279 {
      top: 60px;
      right: 40px;
      width: 70px;
      height: 51px;
    }

    @include vp-1023 {
      top: 46px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.mission__title {
  margin-top: 0;
  margin-bottom: 0;

  max-width: 90%;

  font-family: $ff-second-font;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: $color-default-white;

  @include vp-1919 {
    max-width: 100%;
  }

  @include vp-1439 {
    font-size: 36px;
    line-height: 40px;
  }

  @include vp-1279 {
    font-size: 32px;
    line-height: 36px;
  }

  @include vp-1023 {
    font-size: 28px;
    line-height: 32px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.009em;
  }
}

.mission__decor {
  position: absolute;
  top: 36px;
  left: 80px;

  color: $color-default-white;
  opacity: 0.3;

  pointer-events: none;

  @include vp-1279 {
    top: 26px;
    left: 20px;
  }

  @include vp-1023 {
    width: 180px;
    height: 180px;
  }

  @include vp-767 {
    width: 140px;
    height: 140px;

    top: 16px;
    left: -40px;
  }
}
