.page-section {
  padding-top: 108px;
  padding-bottom: 108px;
  background-color: $color-default-white;

  @include vp-1439 {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  @include vp-1279 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.page-section--tabs {
  @include vp-1023 {
    .container {
      padding-right: 0;
      padding-left: 0;
    }

    .page-section__header,
    .tabs__element {

      @include vp-1023 {
        padding: 0 24px;
      }

      @include vp-767 {
        padding: 0 16px;
      }
    }
  }
}

.page-section--snow {
  background-color: $color-snow;
}

.page-section--orange {
  background-image: linear-gradient(90deg, $color-dark-orange, $color-pumpkin 90%);

  .page-section__title {
    color: $color-default-white;
  }

  .page-section__description {
    color: $color-default-white;
  }
}

.page-section__header {
  margin-bottom: 40px;

  max-width: 55%;

  @include vp-1919 {
    max-width: 70%;
  }

  @include vp-1279 {
    max-width: 75%;
  }

  @include vp-1023 {
    max-width: 85%;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.page-section__header--accent {
  .page-section__title {
    margin-bottom: 0;
    text-transform: uppercase;
    color: $color-dark-orange;

    @media (min-width: 1280px) {
      font-size: 56px;
      line-height: 60px;
    }
  }


  .page-section__subtitle {
    color: $color-dark-orange;
  }
}

.page-section__header--sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-section__header--no-margin {
  margin-bottom: 0;
}

.page-section__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $ff-second-font;
  font-size: 44px;
  line-height: 48px;

  @include vp-1279 {
    font-size: 40px;
    line-height: 44px;
  }

  @include vp-1023 {
    font-size: 36px;
    line-height: 40px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 36px;
  }

  @include vp-374 {
    font-size: 28px;
    line-height: 32px;
  }
}

.page-section__subtitle {
  font-size: 20px;
  line-height: 24px;
}

.page-section__description {
  font-size: 24px;
  line-height: 28px;

  p {
    margin-top: 24px;
    margin-bottom: 0;
  }

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;

    p {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}

.page-section__grid {
  display: grid;
  gap: 40px;

  @include vp-1919 {
    gap: 32px;
  }

  @include vp-1279 {
    gap: 24px;
  }

  @include vp-767 {
    gap: 20px;
  }
}

.page-section__image-wrapper {
  img {
    width: 100%;

    object-fit: cover;
  }
}

.page-section__grid--partners-slider {
  display: flex;
  flex-direction: column;
}

.page-section__grid--about {
  grid-template-columns: 300px 1fr;
  column-gap: 120px;

  @include vp-1439 {
    gap: 60px;
  }

  @include vp-1279 {
    grid-template-columns: 270px 1fr;
  }

  @include vp-1023 {
    grid-template-columns: auto;
  }
}

.page-section__grid--advertising {
  grid-template-columns: 1fr 1fr;

  @include vp-767 {
    grid-template-columns: 100%;
  }
}

.page-section__grid--production {
  grid-template-columns: 1fr 1fr 1fr;

  @include vp-767 {
    grid-template-columns: 100%;
  }
}

.page-section__grid--articles {
  grid-template-columns: 1fr 1fr 1fr;

  @include vp-767 {
    padding-right: 16px;
    padding-left: 16px;

    overflow-y: hidden;
    overflow-x: auto;

    scrollbar-width: none;

    .article-card {
      @include vp-767 {
        width: 224px;

        &:last-of-type {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            right: -16px;

            width: 16px;
            height: 16px;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.page-section__grid--team {
  grid-template-columns: 1fr 30%;

  @include vp-1023 {
    grid-template-columns: 100%;
  }
}


.page-section__link {
  position: relative;
  display: inline-flex;
  justify-content: center;

  margin-top: 24px;

  font-size: 24px;
  line-height: 28px;
  color: $color-dark-orange;

  transition: opacity $trans-default;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 100%;
    height: 1px;

    background-color: $color-dark-orange;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.page-section__button {
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
}
