.page-intro {
  position: relative;
  display: flex;
  align-items: flex-end;

  padding-bottom: 40px;

  min-height: 680px;

  background-color: $color-snow;

  @include vp-1023 {
    min-height: 600px;
  }

  @include vp-767 {
    margin-top: 60px;
    min-height: 400px;
  }
}

.page-intro--no-image {
  min-height: 300px;

  @include vp-1023 {
    min-height: 300px;
  }

  @include vp-767 {
    min-height: 200px;
  }

  .breadcrumbs__item {
    a {
      color: $color-nero;
    }
  }
}

.page-intro__image-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 45%;

    background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 20%, $color-transparent);

    @include vp-767 {
      height: 45%;
    }
  }

  img {
    position: absolute;
    left: 0;
    top: 0;

    object-fit: cover;
    height: 100%;
    pointer-events: none;
    object-position: top;
  }
}

.page-intro--pos-top {
  .page-intro__image-wrapper {
    img {
      object-position: top;
    }
  }
}
