.page-content__content-wrapper {
  margin-bottom: 40px;

  @include vp-1023 {
    margin-bottom: 36px;
  }

  @include vp-767 {
    margin-bottom: 28px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 24px;

    font-family: $ff-second-font;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;

    @include vp-767 {
      font-size: 28px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: $ff-second-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;

    @include vp-767 {
      font-size: 20px;
    }
  }

  a {
    color: $color-my-sin;
    transition: color $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-pumpkin;
      }
    }
  }

  ul {
    margin-top: 16px;
    margin-bottom: 0;
    padding-left: 24px;

    list-style: none;

    @include vp-767 {
      padding-left: 0;
    }

    li {
      position: relative;
      display: flex;

      padding-left: 24px;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      svg {
        position: absolute;
        top: 5px;
        left: 0;
        color: $color-dark-orange;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  ol {
    margin-top: 16px;
    margin-bottom: 0;
    padding-left: 24px;

    counter-reset: list-ol;

    @include vp-767 {
      padding-left: 0;
    }

    li {
      position: relative;
      display: flex;

      padding-left: 24px;

      margin-bottom: 4px;
      counter-increment: list-ol;

      &::before {
        content: counter(list-ol) ".";
        position: absolute;
        left: 0;

        color: $color-dark-orange;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  table {
    margin-top: 24px;
    margin-bottom: 24px;

    border-collapse: collapse;

    border: 1px solid $color-whisper;
    font-size: 18px;

    th {
      padding: 16px;
      background-color: $color-snow;
      border: 1px solid $color-whisper;

      @include vp-767 {
        padding: 8px;
      }
    }

    td {
      padding: 16px;

      line-height: 20px;
      border: 1px solid $color-whisper;
      text-align: center;

      @include vp-767 {
        padding: 8px;
      }
    }
  }
}

.page-content__text {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include vp-1439 {
    p {
      margin-bottom: 20;
    }
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
  }
}

.page-content__text--accent {
  color: $color-dark-orange;
}

.page-content__iframe {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 420px;

  @include vp-767 {
    height: 300px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.page-content__image {
  margin-top: 40px;
  margin-bottom: 40px;

  height: auto;

  border-radius: 4px;

  overflow: hidden;

  @include vp-1919 {
    height: auto;
  }

  @include vp-767 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

/*.page-content__image--main {
  height: 500px;

  @include vp-1919 {
    height: 460px;
  }

  @include vp-1439 {
    height: 420px;
  }

  @include vp-767 {
    height: 360px;
  }
}*/

.page-content__image--pos-left {
  img {
    object-position: left;
  }
}
