.page-section {
  padding-top: 108px;
  padding-bottom: 108px;
  background-color: $color-default-white;
}

.page-section--snow {
  background-color: $color-snow;
}

.page-section--orange {
  // background-image: linear-gradient(90deg, $color-pumpkin, $color-dark-orange 83.33%);
  // background-image: linear-gradient(90deg, $color-my-sin, $color-dark-orange 83.33%);
  // background-color: $color-dark-orange;
  background-image: linear-gradient(90deg, $color-dark-orange, $color-pumpkin 90%);

  .page-section__title {
    color: $color-default-white;
  }

  .page-section__description {
    color: $color-default-white;
  }
}

.page-section__header {
  margin-bottom: 40px;

  max-width: 55%;
}

.page-section__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $ff-second-font;
  font-size: 44px;
  line-height: 48px;
}

.page-section__description {
  margin-top: 24px;
  margin-bottom: 0;

  font-size: 24px;
  line-height: 28px;
}


.page-section__link {
  position: relative;
  display: inline-flex;
  justify-content: center;

  margin-top: 24px;

  font-size: 24px;
  line-height: 28px;
  color: $color-dark-orange;

  transition: opacity $trans-default;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 100%;
    height: 1px;

    background-color: $color-dark-orange;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.page-section__button {
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
}
