.page-section {
  padding-top: 108px;
  padding-bottom: 108px;
  background-color: $color-default-white;

  @include vp-1439 {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

.page-section--snow {
  background-color: $color-snow;
}

.page-section--orange {
  // background-image: linear-gradient(90deg, $color-pumpkin, $color-dark-orange 83.33%);
  // background-image: linear-gradient(90deg, $color-my-sin, $color-dark-orange 83.33%);
  // background-color: $color-dark-orange;
  background-image: linear-gradient(90deg, $color-dark-orange, $color-pumpkin 90%);

  .page-section__title {
    color: $color-default-white;
  }

  .page-section__description {
    color: $color-default-white;
  }
}

.page-section__header {
  margin-bottom: 40px;

  max-width: 55%;

  @include vp-1919 {
    max-width: 70%;
  }

  @include vp-1279 {
    max-width: 75%;
  }
}

.page-section__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $ff-second-font;
  font-size: 44px;
  line-height: 48px;

  @include vp-1279 {
    font-size: 40px;
    line-height: 44px;
  }
}

.page-section__description {
  margin-top: 24px;
  margin-bottom: 0;

  font-size: 24px;
  line-height: 28px;

  @include vp-1439 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
  }
}

.page-section__grid {
  display: grid;
  gap: 40px;

  @include vp-1919 {
    gap: 32px;
  }

  @include vp-1279 {
    gap: 24px;
  }
}

.page-section__grid--about {
  grid-template-columns: 300px 1fr;
  column-gap: 120px;

  @include vp-1439 {
    gap: 60px;
  }

  @include vp-1279 {
    grid-template-columns: 270px 1fr;
    gap: 60px;
  }
}

.page-section__grid--advertising {
  grid-template-columns: 1fr 1fr;
}

.page-section__grid--production {
  grid-template-columns: 1fr 1fr 1fr;
}

.page-section__grid--articles {
  grid-template-columns: 1fr 1fr 1fr;
}


.page-section__link {
  position: relative;
  display: inline-flex;
  justify-content: center;

  margin-top: 24px;

  font-size: 24px;
  line-height: 28px;
  color: $color-dark-orange;

  transition: opacity $trans-default;

  @include vp-1439 {
    font-size: 20px;
    line-height: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 100%;
    height: 1px;

    background-color: $color-dark-orange;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.page-section__button {
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
}
