.partners {
  .page-section__header {
    position: relative;
    max-width: 100%;
  }

  .page-section__title,
  .page-section__description {
    max-width: 55%;

    @include vp-1023 {
      max-width: 75%;
    }

    @include vp-767 {
      max-width: 100%;
    }
  }

  .slider-control {
    position: absolute;
    top: 0;
    right: 0;

    @include vp-767 {
      display: none;
    }
  }

  .swiper {
    margin-left: 0;
    margin-right: 0;
  }
}

.page-section__grid--partners-slider {
  display: flex;
  flex-direction: column;
}
