.service-content {
  .service-content__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: $ff-second-font;
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;

    @include vp-767 {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 40px;
    }
  }

  .page-content__image {
    box-shadow: 0 1px 3px 0 transparentize($color-default-black, 0.9), 0 1px 2px 0 transparentize($color-default-black, 0.94);
  }
}

.service-content__inner {
  padding: 32px 24px;
  background-color: $color-default-white;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 transparentize($color-default-black, 0.9), 0 1px 2px 0 transparentize($color-default-black, 0.94);

  @include vp-767 {
    padding: 24px 16px;
  }
}
