.service-nav {
  position: sticky;
  top: 120px;

  transform: translateZ(0);

  &.is-decor {
    @include vp-1023 {
      box-shadow: 0 7px 5px transparentize($color-default-black, 0.96);
    }
  }

  &.is-fixed {
    position: fixed;

    // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }

  &.is-active {
    @include vp-1023 {
      position: fixed;

      bottom: 0;
      right: 0;
      left: 0;

      .service-nav__button {
        svg {
          transform: rotate(-180deg);
        }
      }

      .service-nav__list {
        opacity: 1;
        visibility: visible;
        max-height: 100%;

        box-shadow: 0 7px 5px transparentize($color-default-black, 0.96);
      }
    }
  }
}

.service-nav__button {
  display: none;

  cursor: pointer;

  @include vp-1023 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    width: 100%;

    font-size: 24px;
    line-height: 28px;

    background-color: $color-default-white;

    border: none;
    border-bottom: 1px solid $color-whisper;
    color: $color-nero !important;

    svg {
      transition: transform $trans-default;
      color: $color-dark-orange;
    }
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }
}

.service-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  transition: opacity $trans-default;

  background-color: $color-default-white;

  @include vp-1023 {
    opacity: 0;
    visibility: hidden;
    max-height: 0;

    position: fixed;
    top: 61px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;

    background-color: $color-transparent;
  }
}

.service-nav__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-1023 {
    margin-bottom: 0;
    border-bottom: 1px solid $color-whisper;
    background-color: $color-default-white;

    &:last-child {
      border-bottom: none;
      box-shadow: 0 7px 5px transparentize($color-default-black, 0.96);

    }
  }

  &.is-active {
    .service-nav__title {
      background-color: transparentize($color-dark-orange, 0.85);
    }

    .service-nav__title[type="button"] {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.service-nav__title {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 16px 20px;

  font-family: $ff-second-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: transparentize($color-nero, 0.2) !important;
  text-align: start;

  border: none;
  background-color: $color-transparent;
  border-radius: 4px;

  cursor: pointer;

  transition: color $trans-default, background-color $trans-default;

  @include vp-1279 {
    padding-right: 12px;
    padding-left: 12px;
  }

  @include vp-1023 {
    border-radius: 0;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }

  svg {
    margin-right: 8px;
    color: $color-dark-orange;

    transition: transform $trans-default;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: transparentize($color-dark-orange, 0.65);
    }
  }
}

.service-nav__sublist {
  margin-top: 12px;
  margin-bottom: 12px;

  padding-left: 56px;

  list-style: none;

  @include vp-767 {
    padding-left: 48px;
  }

  li {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-size: 20px;
      line-height: 24px;

      @include vp-767 {
        font-size: 18px;
        line-height: 22px;
      }

      transition: color $trans-default;

      &.is-active {
        color: $color-dark-orange;
      }

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          color: $color-dark-orange;
        }
      }
    }
  }
}

