.team {
  position: relative;
  overflow: hidden;

  @include vp-767 {
    .container {
      padding: 0;

      .page-section__header {
        padding: 0 16px;
      }

      .page-section__image-wrapper {
        padding: 0 16px;
      }
    }
  }
}

.team__facts {
  z-index: 1;
  max-width: 370px;

  .facts__item {
    margin-bottom: 40px;
  }

  @include vp-1023 {
    max-width: 100%;

    .facts__item {
      margin-bottom: 0;
      background-color: $color-default-white;
    }
  }

  @include vp-767 {
    overflow-x: auto;
    padding: 4px 16px;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.team__decor {
  position: absolute;
  color: $color-dark-orange;
  top: 35%;
  right: 0;
  color: transparentize($color-dark-orange, 0.7);
  pointer-events: none;

  @include vp-1439 {
    right: -8%;
  }

  @include vp-1279 {
    top: 30%;
    right: -15%;
  }

  @include vp-1023 {
    display: none;
  }
}
