-
  const gratitudeData = [
    {
      img: {
        path: 'content/gratitude',
        image: 'gratitude-1',
        format: 'jpg',
        width: 300,
        height: 420,
        altText: 'Благодарность',
      },
    },
    {
      img: {
        path: 'content/gratitude',
        image: 'gratitude-2',
        format: 'jpg',
        width: 300,
        height: 420,
        altText: 'Благодарность',
      },
    },
    {
      img: {
        path: 'content/gratitude',
        image: 'gratitude-3',
        format: 'jpg',
        width: 300,
        height: 420,
        altText: 'Благодарность',
      },
    },
    {
      img: {
        path: 'content/gratitude',
        image: 'gratitude-2',
        format: 'jpg',
        width: 300,
        height: 420,
        altText: 'Благодарность',
      },
    },
  ]

mixin gratitude(data)
  section.page-section.gratitude(data-animation-group)&attributes(attributes)
    .container.fit.d-300
      .gratitude__grid(data-slider-gratitudes-container, data-animation-group)
        .page-section__header
          h2.page-section__title Благодарности от партнеров
          .slider-control
            button.slider-control__button(type="button", data-slider-control-prev)
              +icon("icon-arrow-left", 16, 16)
            button.slider-control__button(type="button", data-slider-control-next)
              +icon("icon-arrow-right", 16, 16)
        .gratitude-slider.swiper(data-slider-gratitudes)
          .gratitude-slider__wrapper.swiper-wrapper
            each item in data
              .gratitude-slider__slide.swiper-slide
                +picture(item.img.path, item.img.image, item.img.format, item.img.width, item.img.height, item.img.altText)
