mixin page-article(data)
  .page-article
    .container
      .page-article__grid
        a.page-article__button-prev(href="blog.html")
          +icon("icon-arrow-left", 24, 24)
          span Назад
        section.page-article__content.page-content.article
          h1.article__title Страница в работе!
          .page-content__text
            p Скоро здесь появится полезная информация о маркетинге и рекламе в целом
          .page-content__image.page-content__image--main
            +picture("content/production", "production-text", "jpg", 760, 420, "Иллюстрация статьи")
