mixin page-article(data)
  .page-article
    .container
      .page-article__grid
        a.page-article__button-prev(href="blog.html")
          +icon("icon-arrow-left", 24, 24)
          span Назад
        section.page-article__content.page-content.article
          h1.article__title SMM или таргетированная реклама?
          time.article__date(datetime=2021-11-04) 04.11.2021
          .page-content__image.page-content__image--main
            +picture("content/articles", "articles-1", "jpg", 760, 420)
          .page-content__content-wrapper
            .page-content__text
              p #[b Таргетированная реклама] (от англ. target — «цель») — объявления в соцсетях. Они показываются только определенной аудитории, которая соответствует      заданным характеристикам. Сортировка пользователей может производиться по возрасту, полу, географическому положению, интересам и другим параметрам.     Некоторые социальные сети подключают искусственный интеллект — например, в Facebook Ads можно настроить показы на пользователей, которые с большей      вероятностью выполнят запрашиваемое действие.
              p Определяясь, в чем разница между SMM и таргетингом, необходимо разобраться с целями инструмента. Таргетированная реклама нацелена на побуждение       пользователя перейти по ссылке и совершить покупку/воспользоваться услугой или оставить контактные данные. Именно продажа — основная цель таргетинга, и       эффективность этого канала имеряется именно исходя из данной задачи.

              p #[b SMM] (Social Media Marketing) — способ продвижения товара/бренда через соцсети. В отличие от таргетированной рекламы, СММ выстраивает пошаговую     стратегию коммуникации компании с аудиторией. В социальных сетях СММ-специалист создает сообщества, необходимые для увеличения количества лояльных    клиентов — здесь публикуются полезные статьи, видео-контент, тематические тесты. SMM и таргетированная реклама взаимодействуют с пользователями соцсетей,   однако SMM не только удовлетворяет, но и формирует спрос и работает с пользователями на разных этапах воронки продаж.
            .page-content__image
              +picture("content/articles", "articles-1", "jpg", 760, 420)
            .page-content__text
              p Продвижение компании через социальные сети подразумевает привлечение целевой аудитории в группы, а также создание качественного контента для клиентов.    Чтобы разобраться, чем SMM отличается от таргетинга, необходимо рассмотреть ключевые инструменты СММ:
              ul
                li
                  +icon("icon-arrow-right", 16, 16)
                  p социально-демографические: пол, возраст, семейное положение и т.д.;
                li
                  +icon("icon-arrow-right", 16, 16)
                  p геотаргетинг: страна, область, город или конкретная точка на карте;
                li
                  +icon("icon-arrow-right", 16, 16)
                  p личные интересы: мода, кулинария, спорт, дети, активный отдых и т.д.;
                li
                  +icon("icon-arrow-right", 16, 16)
                  p look-alike аудитория: пользователи, схожие с людьми определенной исходной группы, например, посетителями сайта или клиентами компании/магазина;
          .page-content__content-wrapper
            h2 Какие методы используются?
            .page-content__text
              p Первая задача SMM-специалиста — собрать аудиторию. Существует несколько способов, которые мотивируют пользователей подписаться на страницу бренда или     вступить в сообщество:
              ol
                li Реклама у лидеров мнений — фотография медийной личности с продукцией;
                li Виральный контент — полезные статьи, которые люди постят на своих страницах;
                li Бартер с блогерами — они получают продукт в обмен на пост в соцсетях;
                li Кнопки share и другие ссылки на других ресурсах компании (сайт, Дзен и т.п.);
          .page-content__content-wrapper
            h2 Чем отличаются задачи SMM-специалиста и таргетолога?
            table
              tr
                th Обязанности таргетолога
                th Обязанности СММ-специалиста
              tr
                td Анализ рынка и целевой аудитории
                td Сбор материала для контента
              tr
                td Сбор графических, видео и текстовых материалов для объявлений
                td Составление контент-плана
              tr
                td Настройка и контроль стоимости клика или целевого действия
                td Подготовка публикаций с учетом tone of voice компании и ее бренд-бука
            .page-content__text
              p Узнайте, какое решение принесет лучший результат вашей компании, оставив заявку&nbsp;на&nbsp;сайте!
