mixin quote(text)
  .page-section.page-section--snow.quote(data-animation-group)
        .container.fit.d-300
          p.quote__text !{text}
            +icon("quotation-marks", 96, 70).quote__decor
