mixin service-audio-list(data)
  div(data-service-item-container)

        //- each audio in data.audioList
        //-   +audio-item(audio)
        //- if data.audioList.length > 3
        //-   button.service-content__button-show(type="button", data-service-show-more) Показать все
