mixin modal-radio-info()
  p.modal__title Пополярность радиостанций
  p.modal__description Результаты опросов в группах социальной сети Вконтакте: «Весь Арзамас Вконтакте», «Арзамас Live» и «Подслушано Арзамас».
  p.modal__description Ссылки на опросы по радио в соц сетях:
  .modal__links-wrapper
    a(href="https://vk.com/wall-27838907_506790",rel="nofollow noopener", target="_blank") "Весь Арзамас Вконтакте"
    a(href="https://vk.com/wall-125528525_26689", rel="nofollow noopener", target="_blank") "Арзамас Live"





